svg(width=0 height=0)
	defs
		//g#icon-search
			<circle r="27" cy="32" cx="32" stroke-opacity="null" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="8" stroke="#000000" fill-opacity="0" fill="#000000"/>
			<line y2="70" x2="70" y1="53" x1="53" stroke-opacity="null" stroke-linecap="round" stroke-linejoin="null" stroke-dasharray="null" stroke-width="8" stroke="#000000" fill-opacity="0" fill="none"/>
		