.box-size (@width: auto; @margin-bottom: 10px; @padding: (@font-size * (20px / 14px)) 20px) {
    display: block;
    box-sizing: border-box;
    width: @width;
    margin-bottom: @margin-bottom;
    padding: @padding;
}

.reset-ul (@list-style: none; @li-padding: 0; @li-margin: 0) {
    list-style: @list-style;
    margin: @li-margin;
    padding: @li-padding;
}

.reset-a () {
    text-decoration: none;
    color: inherit;
}

.generate-socials(@n, @i: 1) when (@i =< @n) {
	@socials:
		twitt,
		vk,
		fb,
		odnoklassniki,
		google;
	@social: extract(@socials, @i);

	&--@{social} {
		background-image: url('../images/sprite/contacts-@{social}.png');
	}

	.generate-socials(@n, (@i + 1));
}

.generate-metro(@n, @i: 1) when (@i =< @n) {
	@items:
		varsh,
		kash;
	
	@item: extract(@items, @i);

	input#@{item}:checked~&__controls label[for='@{item}'] {
		opacity: 1;
		box-shadow: @box-shadow__contacts--active;
	}

	.generate-metro(@n, (@i + 1));
}

.generate-map-slider(@n, @i: 1) when (@i =< @n) {
	@items:
		foot,
		car,
		bus;
	
	@item: extract(@items, @i);

	input#@{item}:checked~&__path label[for='@{item}'] {
		opacity: 1;
		box-shadow: @box-shadow__contacts--active;
	}
	
	input#varsh:checked~&__slider input#@{item}:checked~&__path &__path-slider-item--varsh-@{item} {
		display: block;
	}
	input#kash:checked~&__slider input#@{item}:checked~&__path &__path-slider-item--kash-@{item} {
		display: block;
	}
	
	input#varsh:checked~&__slider input#@{item}:checked~&__map &__map-item--varsh-@{item} {
		display: block;
	}
	input#kash:checked~&__slider input#@{item}:checked~&__map &__map-item--kash-@{item} {
		display: block;
	}

	.generate-map-slider(@n, (@i + 1));
}

.generate-map(@n, @i: 1) when (@i =< @n) {
	@items:
		foot,
		car,
		bus;
	
	@item: extract(@items, @i);

	&--varsh-@{item} {
		background-image: url('../images/map/varsh-@{item}.jpg');
	}
		&--kash-@{item} {
		background-image: url('../images/map/kash-@{item}.jpg');
	}

	.generate-map(@n, (@i + 1));
}

.generate-path(@n, @i: 1) when (@i =< @n) {
	@items:
		foot,
		car,
		bus;
	
	@item: extract(@items, @i);

	label[for=@{item}] {
		background-image: url('../images/sprite/contacts-map-@{item}.png');
	}

	.generate-path(@n, (@i + 1));
}




.generate-footer-socials(@n, @i: 1) when (@i =< @n) {
	@items:
		fb,
		inst,
		vk;
	
	@item: extract(@items, @i);
	
	&--@{item} {
		background-image: url('../images/sprite/footer-@{item}.png');
	}

	.generate-footer-socials(@n, (@i + 1));
}

.generate-features-pict(@n, @i: 1) when (@i =< @n) {
	@items:
		realization,
		circulation,
		color,
		new,
		specialists,
		technology,
		quality,
		circulation02,
		color02;
	
	@item: extract(@items, @i);
	
	&__@{item}:before {
		background-image: url('../images/sprite/features-@{item}.png'), @bg__features-pict;
	}

	.generate-features-pict(@n, (@i + 1));
}

