//main
@font-family: 'Myriad Pro', 'Arial', sans-serif;

//-----header-----

//presentation
@font-size__header-pres: 36px;
@line-height__header-pres: 30px;
@color__header-pres:#bfbfbf;

//header-slogan
@font-size__header-slogan:25px;
@line-height__header-slogan: 30.56px;
@color__header-slogan: #bfbfbf;

//phone
@font-size__header-phone: 60px;
@font-size__header-phone--grand: 65px;
@color__header-phone: #818181;
@color__header-phone--grand: white;

//call
@font-size__header-call: 30px;
@color__header-call: white;

//menu
@font-size__header-menu: 27px;
@line-height__header-menu: 105px;
@color__header-menu: white;
@color__header-menu-special: #e91212;

//---------main-------
@bg-color: #f0efed;

//----------action----------
//title
@bg-color__action-title: #c2c0bf;

//-header
//title
@font-size__action-header-title: 348px;
@color__action-header-title: #d50000;

//text
@font-size__action-header-text: 164px;
@color__action-header-text: #8a8a8a;

//-pict
//percent
@font-size__action-pict-percent: 307px;
@color__action-pict-percent: white;

//text
@font-size__action-pict-text: 55px;
@color__action-pict-text: #fefefe;

//order
//title
@font-size: 79px;
@color: #8a8a8a;

//volume
@font-size: 79px;
@color: #d50000;

//description
@font-size: 30px;
@color: #8a8a8a;

//price-old
@font-size: 61px;
@color: #050505;

//price-new
@font-size: 91px;
@color: #d50000;