.action-order__btn--text-bg {
	background: -webkit-linear-gradient(rgb(60, 0, 0), rgb(60, 0, 0));
}

.action-timer__text {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.services-item__text span {
	background: -webkit-linear-gradient(#0C3B4D, #0C3B4D);
}

.action-order__btn--text-bg,
.action-timer__text,
.services-item__text span{
	-webkit-text-fill-color: transparent;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}