@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro/MyriadPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro/MyriadPro-Bold_0.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('../fonts/MyriadPro/MyriadPro-Cond_0.otf');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'MyriadPro', 'Arial', sans-serif;
}
.title-reg {
  margin-bottom: 0;
  padding: 15px 5% 15px;
  background: linear-gradient(#f0efed, #e2e1df);
  font-size: 27px;
  color: #8b8987;
  text-transform: uppercase;
  border-top: 1px solid #d1d1d1;
}
.title-footer {
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0.75px 0px rgba(35, 31, 32, 0.35);
}
.block-reg {
  background: #f0efed;
  box-shadow: 0px 7.5px 44.25px 0 rgba(35, 31, 32, 0.23);
}
.block-footer {
  margin-bottom: 11.25px;
}
.header {
  margin-bottom: 67.5px;
  width: 100%;
  background: linear-gradient(#424242, #515151, #424242);
}
.header-container {
  position: relative;
  padding: 22.5px 0 11.25px;
}
@media (max-width: 1200px) {
  .header-container {
    padding-top: 10px;
  }
}
.header-logo {
  padding: 0 33.75px;
  text-align: center;
}
@media (max-width: 1200px) {
  .header-logo img {
    width: 100%;
    height: auto;
  }
}
.header-logo__slogan {
  font-size: 18.75px;
  color: #bfbfbf;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .header-logo__slogan img {
    width: 90%;
    height: auto;
  }
}
.header-presentation {
  padding: 5% 5% 0;
  font-size: 27px;
  line-height: 1;
  color: #bfbfbf;
  text-shadow: -0.75px 0.75px 1.5px rgba(0, 0, 0, 0.35);
}
.header-phone {
  padding-top: 7.5px;
  padding-right: 15px;
  font-size: 45px;
  color: #818181;
}
@media (max-width: 1200px) {
  .header-phone {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 39px;
  }
}
.header-phone--grand {
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  font-size: 48.75px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .header-phone--grand {
    font-size: 41px;
  }
}
.header-call {
  position: absolute;
  right: 11.25px;
  bottom: -90px;
  height: 87px;
  width: 358.5px;
  background-image: linear-gradient(#535353, #6e6e6e, #535353);
  border-radius: 86.25px 0 0 86.25px;
  box-shadow: inset 0.75px -1.5px 1.5px 0.75px rgba(0, 0, 0, 0.3), inset 0px 2.25px 1.5px 0.75px rgba(0, 0, 0, 0.3), inset -3px 3px 2.25px -0.75px rgba(255, 255, 255, 0.3), -10.5px 6.75px 32.25px 0px rgba(0, 0, 0, 0.35);
  z-index: 10;
}
@media (max-width: 1200px) {
  .header-call {
    width: 315px;
    height: 80px;
  }
}
.header-call__handset {
  position: absolute;
  top: 3.75px;
  left: 3.75px;
  width: 82.5px;
  height: 82.5px;
  background: url('../images/phone--header.png') no-repeat center;
  background-size: contain;
}
@media (max-width: 1200px) {
  .header-call__handset {
    top: 2px;
    left: 2px;
    width: 78px;
    height: 78px;
  }
}
.header-call__text {
  line-height: 86.25px;
  margin-right: 18.75px;
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  font-size: 22.5px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: -0.75px 1.5px 3px rgba(35, 31, 32, 0.35);
}
@media (max-width: 1200px) {
  .header-call__text {
    line-height: 80px;
    font-size: 20px;
  }
}
.header .nav-item {
  background: linear-gradient(#444443, #323231);
  box-shadow: inset 1.5px 0px 0 0 #383837, inset -0.75px 0px 0 0 #535352;
}
.header .nav-item a {
  padding-top: 26.25px;
  padding-bottom: 22.5px;
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  font-size: 20.25px;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0 1.5px 3px rgba(35, 31, 32, 0.35);
}
@media (max-width: 1200px) {
  .header .nav-item a {
    font-size: 18px;
  }
}
.header .nav-item a:hover {
  background: linear-gradient(#91918f, #7f7f7d);
}
.header .nav-item--special a {
  color: #e91212;
}
.container--main {
  margin-bottom: 75px;
  padding: 0;
  background: #f0efed;
  border-radius: 22.5px;
  box-shadow: 0px 7.5px 9.75px 0px rgba(35, 31, 32, 0.26);
}
.action {
  margin-bottom: 60px;
}
.action-title {
  width: 100%;
  margin-bottom: 26.25px;
}
.action-title img {
  width: 100%;
}
.action-block {
  padding: 0 71.25px 20.25px;
  box-shadow: 0px 7.5px 11.25px 0px rgba(0, 0, 0, 0.25);
}
.action-image {
  max-width: 529.5px;
  box-shadow: 0px 0.75px 3px 0 rgba(35, 31, 32, 0.5);
  overflow: hidden;
}
.action-image img {
  width: 100%;
  height: auto;
}
.action-order {
  position: relative;
  padding-bottom: 101.25px;
}
.action-order__item {
  position: relative;
  padding: 0.75px 18.75px;
  background: #f9f9f9;
  line-height: 1;
  border: 2.25px solid #e1e1e1;
  box-shadow: 0px 0.75px 3px 0 rgba(35, 31, 32, 0.5);
  z-index: 10;
}
.action-order__item-title {
  margin-top: 7.5px;
  color: #8a8a8a;
  font-size: 59.25px;
}
.action-order__item-title--value {
  display: block;
  font-size: 59.25px;
  color: #d50000;
}
.action-order__item-description {
  font-size: 22.5px;
  color: #8a8a8a;
}
.action-order__item-price--old,
.action-order__item-price--new {
  display: block;
  text-align: right;
  line-height: 1;
}
.action-order__item-price--old {
  font-size: 45.75px;
  color: #050505;
  text-decoration: line-through;
}
.action-order__item-price--new {
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  font-size: 68.25px;
  color: #d50000;
}
.action-order__controls li {
  width: 33.33333333%;
}
.action-order__controls li.active a {
  height: 93.75px;
  background-color: #ffffff;
  border: 0.75px solid #cccccc;
}
.action-order__controls-item {
  height: 82.5px;
  background-color: rgba(230, 230, 230, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
  vertical-align: top;
  box-shadow: inset 0px 0px 7.5px 0.75px rgba(204, 204, 204, 0.7);
}
.action-order__controls-item--1 {
  background-image: url(../images/sprite/action-order__controls--1.png);
}
.action-order__controls-item--2 {
  background-image: url(../images/sprite/action-order__controls--2.png);
}
.action-order__controls-item--3 {
  background-image: url(../images/sprite/action-order__controls--3.png);
}
.action-order__controls-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.action-order__btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 88.5px;
  text-align: center;
  line-height: 1;
  background: #f9f9f9 url(../images/common/action_order_btn.png) no-repeat center center;
  border: 2.25px solid #e1e1e1;
  box-shadow: 0px 0.75px 3px 0 rgba(35, 31, 32, 0.5);
}
.action-order__btn:hover {
  box-shadow: 0px 1.5px 4.5px 0px rgba(35, 31, 32, 0.5);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.action-order__btn:active {
  box-shadow: inset 0 0 11.25px 0.75px rgba(225, 225, 225, 0.5), 0px 0.75px 3px 0.75px rgba(35, 31, 32, 0.5);
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
.action-order__btn--text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: lowercase;
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  font-size: 22.5px;
  color: #aaaaaa;
}
.action-timer {
  position: relative;
  z-index: 5;
  padding: 18.75px 0;
  box-shadow: 0px 7.5px 11.25px 0px rgba(0, 0, 0, 0.25);
}
.action-timer__text {
  height: 120px;
  background: url(../images/common/action_timer--text.png) no-repeat 70% center;
}
.action-controls {
  width: 100%;
  padding: 0 9px;
  font-size: 15.75px;
  color: #818181;
}
.action-controls li {
  width: 10%;
  padding: 0 0.75px;
}
.action-controls > li .action-controls__item {
  padding: 0;
}
.action-controls > li .action-controls__item:hover {
  border: none;
  background: white;
  box-shadow: 0px 0.75px 3px 0 rgba(35, 31, 32, 0.5);
}
.action-controls > li .action-controls__item:active {
  box-shadow: inset 0px -3px 7.5px 0px rgba(35, 31, 32, 0.5);
}
.action-controls > li.active .action-controls__item {
  border: none;
}
.action-controls > li.active .action-controls__item--pict,
.action-controls > li.active .action-controls__item--name {
  border-color: #eeeae7;
}
.action-controls > li.active .action-controls__item--name {
  color: #24526d;
  border-image-source: linear-gradient(to top, rgba(193, 191, 190, 0.5), rgba(247, 245, 243, 0.1) 40%, rgba(193, 191, 190, 0.5));
}
.action-controls > li.active .action-controls__item:hover {
  border: none;
}
.action-controls__item {
  text-align: center;
}
.action-controls__item--pict,
.action-controls__item--name {
  border: 2.25px solid #c9c7c6;
}
.action-controls__item--pict {
  display: block;
  height: 108.75px;
  line-height: 108.75px;
  border-bottom: none;
}
.action-controls__item--name {
  display: block;
  height: 52.5px;
  padding: 15px 0;
  background: linear-gradient(to top, rgba(175, 174, 173, 0.5), rgba(228, 227, 227, 0.5) 40%, rgba(175, 174, 173, 0.5));
  font-size: 15.75px;
  color: #818181;
  text-transform: uppercase;
  border-image: linear-gradient(to top, rgba(175, 174, 173, 0.5), rgba(228, 227, 227, 0.5) 40%, rgba(175, 174, 173, 0.5)) 1;
}
.popular {
  margin-bottom: 105px;
}
.popular-block {
  padding: 22.5px 41.25px;
}
.popular-slider {
  position: relative;
}
.popular-slider__row {
  margin-bottom: 5%;
}
.popular-slider__leveler {
  position: relative;
}
.popular-slider__item {
  position: relative;
  display: block;
  max-width: 345px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0.75px 3px 0 rgba(35, 31, 32, 0.5);
  overflow: hidden;
}
.popular-slider__item img {
  width: 100%;
  height: auto;
}
.popular-slider__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 27px;
  color: #8b8987;
  text-transform: lowercase;
}
.popular-slider__item:hover .popular-slider__item-title {
  display: block;
}
.popular-slider__item--all {
  height: 100%;
  display: inline-block;
  padding-top: 45px;
  vertical-align: middle;
  font-size: 68.25px;
  color: #8b8987;
  line-height: 1;
  text-decoration: none;
}
.popular-slider__item--all-leveler {
  position: absolute;
  top: 55%;
  bottom: 0;
  right: 0;
}
.popular-slider__item--all-bg {
  margin-top: -26.25px;
  display: inline-block;
  font-size: 137.25px;
}
.popular-slider__item--all:hover {
  text-decoration: none;
  color: #1b82ab;
  text-shadow: -4px 4px 6px #ffffff;
}
.popular-slider__controls {
  position: absolute;
  width: 43.5px;
  height: 213px;
  top: 50%;
  margin-top: -106.5px;
}
.popular-slider__controls:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.popular-slider__controls:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.popular-slider__controls--left {
  left: -43px;
  background: url('../images/common/popular-control--left.png') no-repeat left center;
}
.popular-slider__controls--left:hover {
  left: -42px;
}
.popular-slider__controls--left:active {
  left: -44px;
}
.popular-slider__controls--right {
  right: -42px;
  background: url('../images/common/popular-control--right.png') no-repeat right center;
}
.popular-slider__controls--right:hover {
  right: -41.25px;
}
.popular-slider__controls--right:active {
  right: -42px;
}
.features {
  margin-bottom: 56.25px;
}
.features-block {
  padding: 37.5px 60px 7.5px;
}
.features-item {
  position: relative;
  margin-bottom: 22.5px;
  padding-left: 105px;
  font-size: 18px;
}
.features-item:before {
  content: '';
  position: absolute;
  left: 0;
  width: 97.5px;
  height: 97.5px;
  border-radius: 50%;
  border: 2.25px solid #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 7.5px 44.25px 0 rgba(35, 31, 32, 0.23);
}
.features-item__realization:before {
  background-image: url('../images/sprite/features-realization.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__circulation:before {
  background-image: url('../images/sprite/features-circulation.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__color:before {
  background-image: url('../images/sprite/features-color.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__new:before {
  background-image: url('../images/sprite/features-new.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__specialists:before {
  background-image: url('../images/sprite/features-specialists.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__technology:before {
  background-image: url('../images/sprite/features-technology.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__quality:before {
  background-image: url('../images/sprite/features-quality.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__circulation02:before {
  background-image: url('../images/sprite/features-circulation02.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__color02:before {
  background-image: url('../images/sprite/features-color02.png'), radial-gradient(circle, #2092bf, #1e7ea5);
}
.features-item__title {
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #1b82ab;
  font-weight: bold;
  font-size: 18px;
}
.features-item__text {
  color: #acacac;
}
.features-item:nth-child(1) .features-item__title,
.features-item:nth-child(2) .features-item__title,
.features-item:nth-child(3) .features-item__title {
  color: #2092bf;
}
.features-item:nth-child(7) .features-item__title,
.features-item:nth-child(8) .features-item__title,
.features-item:nth-child(9) .features-item__title {
  color: #186b8c;
}
.workmap {
  margin-bottom: 90px;
}
.workmap-block {
  padding: 15px 37.5px;
}
.workmap-item {
  overflow: visible;
}
.workmap-item__box:last-of-type .workmap-item__img:after {
  display: none;
}
.workmap-item__img {
  position: relative;
  margin: 0 auto 15px;
  width: 206.25px;
  height: 206.25px;
  line-height: 206.25px;
  text-align: center;
  background: radial-gradient(circle, #2092bf, #1e7ea5);
  border: 2.25px solid #f9f9f9;
  border-radius: 50%;
  box-shadow: 0px 7.5px 44.25px 0 rgba(35, 31, 32, 0.23);
}
.workmap-item__img:after {
  content: '';
  position: absolute;
  width: 24.75px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  right: -52.5px;
  background: url(../images/common/workmap-arrow.png) no-repeat center center;
}
.workmap-item__img img {
  vertical-align: middle;
}
.workmap-item__text {
  padding: 0 3.75px;
  text-align: center;
  font-size: 24.75px;
  color: #186b8c;
}
.services-block {
  margin-bottom: 82.5px;
  padding: 18.75px 37.5px 22.5px;
}
.services-item {
  display: block;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 0px 12px 0 rgba(0, 0, 1, 0.3);
}
.services-item:hover {
  box-shadow: 0px 0px 12px 3.75px rgba(0, 0, 1, 0.3);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-decoration: none;
}
.services-item:active {
  box-shadow: inset 0 0 11.25px 0.75px rgba(225, 225, 225, 0.5), 0px 0px 12px 0 rgba(0, 0, 1, 0.3);
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
.services-item__title {
  display: block;
  margin-bottom: 0;
  padding-top: 11.25px;
  font-size: 24.75px;
  color: #8b8987;
  text-shadow: 0 1.5px 3px rgba(35, 31, 32, 0.35);
}
.services-item__text {
  margin-top: -11.25px;
  padding: 11.25px 0;
  background: #f8f7f6;
}
.equipment-block {
  margin-bottom: 45px;
  padding: 45px 37.5px 22.5px;
}
.equipment-item {
  text-align: center;
  text-transform: uppercase;
}
.equipment-item__title {
  margin-bottom: 22.5px;
  font-size: 22.5px;
  color: #8b8987;
  text-shadow: 0 1.5px 3px rgba(35, 31, 32, 0.35);
}
.equipment-item__img {
  overflow: hidden;
  display: block;
  max-width: 349.5px;
  box-shadow: 0px 0.75px 3px 0 rgba(35, 31, 32, 0.5);
}
.equipment-item__img:hover {
  box-shadow: 0px 0px 12px 3.75px rgba(0, 0, 1, 0.3);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-decoration: none;
}
.equipment-item__img:active {
  box-shadow: inset 0 0 11.25px 0.75px rgba(225, 225, 225, 0.5), 0px 0px 12px 0 rgba(0, 0, 1, 0.3);
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
.equipment-item__img img {
  width: 100%;
  height: auto;
}
.clients-block {
  margin-bottom: 48.75px;
  background: #f3f3f3;
  text-align: center;
}
.clients-item {
  display: inline-block;
  max-width: 178.5px;
  min-width: 150px;
  height: 86.25px;
  line-height: 86.25px;
}
.clients-item img {
  max-width: 95%;
}
.news-block {
  position: relative;
  margin-bottom: 41.25px;
}
.news-menu {
  position: relative;
  padding: 11.25px 33.75px;
  text-align: center;
  background: #f7f7f5;
}
.news-menu__item {
  position: relative;
}
.news-menu__item-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48.75px;
  background: rgba(255, 255, 255, 0.85);
  line-height: 48.75px;
  vertical-align: middle;
  font-size: 27px;
  color: #5e5e5d;
}
.news-menu__item-title p {
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.news-menu__item-img {
  height: 220.5px;
}
.news-menu__item-img img {
  width: 100%;
  height: 100%;
}
.news-menu__controls {
  position: absolute;
  top: 50%;
  margin-top: -56.25px;
  border-top: 56.25px solid transparent;
  border-bottom: 56.25px solid transparent;
}
.news-menu__controls--left {
  left: 3.75px;
  border-right: 20.25px solid #f0efed;
}
.news-menu__controls--right {
  right: 3.75px;
  border-left: 20.25px solid #f0efed;
}
.news-menu__controls:hover,
.news-menu__controls:active {
  border-left-color: #d9d6d1;
  border-right-color: #d9d6d1;
}
.news-menu__controls:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.news-menu__controls:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.news-item {
  margin-bottom: 48.75px;
  padding: 11.25px 22.5px 11.25px 0px;
}
.news-item__title {
  margin: 0;
  font-size: 54.75px;
  color: #000000;
  line-height: 1;
}
.news-item__text {
  text-align: justify;
  font-family: 'MyriadPro-Cond', 'Arial', sans-serif;
  font-size: 27px;
  color: #595959;
  line-height: 1;
}
.news-item__text p {
  margin: 0;
}
.news-item__link {
  position: absolute;
  bottom: 0;
  right: 11.25px;
  text-align: right;
  font-family: 'MyriadPro-Cond', 'Arial', sans-serif;
  font-size: 27px;
  color: #247eb2;
  text-decoration: underline;
  font-style: italic;
}
.contacts-block {
  margin-bottom: 45px;
  padding-bottom: 25px;
}
.contacts-info {
  padding: 37.5px 7.5px 37.5px 45px;
  font-size: 22.5px;
}
.contacts-info__item {
  display: block;
  color: #166382;
}
.contacts-info__item:hover {
  text-decoration: none;
}
.contacts-info__item:before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  width: 65.25px;
  height: 65.25px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
.contacts-info__item--phone:before {
  background-image: url(../images/sprite/contacts-phone.png);
}
.contacts-info__item--mail:before {
  background-image: url(../images/sprite/contacts-mail.png);
}
.contacts-info__item--skype:before {
  background-image: url(../images/sprite/contacts-skype.png);
}
.contacts-info__item--adress:before {
  background-image: url(../images/sprite/contacts-adress.png);
}
.contacts-map {
  padding-top: 15px;
  font-family: 'MyriadPro-Cond', 'Arial', sans-serif;
}
.contacts-map input[type='radio'] {
  display: none;
}
input#varsh:checked ~ .contacts-map__controls label[for='varsh'] {
  opacity: 1;
  box-shadow: inset 0px 0.75px 2.25px 0px rgba(255, 255, 255, 0.8), inset 0px -0.75px 2.25px 0px rgba(0, 0, 0, 0.3);
}
input#kash:checked ~ .contacts-map__controls label[for='kash'] {
  opacity: 1;
  box-shadow: inset 0px 0.75px 2.25px 0px rgba(255, 255, 255, 0.8), inset 0px -0.75px 2.25px 0px rgba(0, 0, 0, 0.3);
}
input#foot:checked ~ .contacts-map__path label[for='foot'] {
  opacity: 1;
  box-shadow: inset 0px 0.75px 2.25px 0px rgba(255, 255, 255, 0.8), inset 0px -0.75px 2.25px 0px rgba(0, 0, 0, 0.3);
}
input#varsh:checked ~ .contacts-map__slider input#foot:checked ~ .contacts-map__path .contacts-map__path-slider-item--varsh-foot {
  display: block;
}
input#kash:checked ~ .contacts-map__slider input#foot:checked ~ .contacts-map__path .contacts-map__path-slider-item--kash-foot {
  display: block;
}
input#varsh:checked ~ .contacts-map__slider input#foot:checked ~ .contacts-map__map .contacts-map__map-item--varsh-foot {
  display: block;
}
input#kash:checked ~ .contacts-map__slider input#foot:checked ~ .contacts-map__map .contacts-map__map-item--kash-foot {
  display: block;
}
input#car:checked ~ .contacts-map__path label[for='car'] {
  opacity: 1;
  box-shadow: inset 0px 0.75px 2.25px 0px rgba(255, 255, 255, 0.8), inset 0px -0.75px 2.25px 0px rgba(0, 0, 0, 0.3);
}
input#varsh:checked ~ .contacts-map__slider input#car:checked ~ .contacts-map__path .contacts-map__path-slider-item--varsh-car {
  display: block;
}
input#kash:checked ~ .contacts-map__slider input#car:checked ~ .contacts-map__path .contacts-map__path-slider-item--kash-car {
  display: block;
}
input#varsh:checked ~ .contacts-map__slider input#car:checked ~ .contacts-map__map .contacts-map__map-item--varsh-car {
  display: block;
}
input#kash:checked ~ .contacts-map__slider input#car:checked ~ .contacts-map__map .contacts-map__map-item--kash-car {
  display: block;
}
input#bus:checked ~ .contacts-map__path label[for='bus'] {
  opacity: 1;
  box-shadow: inset 0px 0.75px 2.25px 0px rgba(255, 255, 255, 0.8), inset 0px -0.75px 2.25px 0px rgba(0, 0, 0, 0.3);
}
input#varsh:checked ~ .contacts-map__slider input#bus:checked ~ .contacts-map__path .contacts-map__path-slider-item--varsh-bus {
  display: block;
}
input#kash:checked ~ .contacts-map__slider input#bus:checked ~ .contacts-map__path .contacts-map__path-slider-item--kash-bus {
  display: block;
}
input#varsh:checked ~ .contacts-map__slider input#bus:checked ~ .contacts-map__map .contacts-map__map-item--varsh-bus {
  display: block;
}
input#kash:checked ~ .contacts-map__slider input#bus:checked ~ .contacts-map__map .contacts-map__map-item--kash-bus {
  display: block;
}
.contacts-map__controls {
  width: 96%;
  margin-left: 2%;
  text-align: center;
}
.contacts-map__controls--metro {
  display: inline-block;
  width: 26.25px;
  height: 19.5px;
  margin: 0 7.5px;
  background: url(../images/sprite/contacts-map-metro.png) no-repeat center;
}
.contacts-map__controls label {
  float: left;
  width: 50%;
  background: white;
  opacity: .6;
  font-size: 30.75px;
  box-shadow: inset 0px -1.5px 2.25px 0px rgba(255, 255, 255, 0.8), inset 0px 1.5px 2.25px 0px rgba(0, 0, 0, 0.3);
}
.contacts-map__controls label[for='varsh'] {
  border-radius: 44.25px 0px 0px 44.25px;
}
.contacts-map__controls label[for='kash'] {
  border-radius: 0px 44.25px 44.25px 0px;
}
.contacts-map__controls--path {
  margin-bottom: 3.75px;
  height: 45px;
  text-align: center;
}
.contacts-map__controls--path label {
  margin-bottom: 0;
  width: 45px;
  height: 45px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .6;
  border-radius: 3.75px;
  box-shadow: inset 0px -1.5px 2.25px 0px rgba(255, 255, 255, 0.8), inset 0px 1.5px 2.25px 0px rgba(0, 0, 0, 0.3);
}
.contacts-map__controls--path label[for=foot] {
  background-image: url('../images/sprite/contacts-map-foot.png');
}
.contacts-map__controls--path label[for=car] {
  background-image: url('../images/sprite/contacts-map-car.png');
}
.contacts-map__controls--path label[for=bus] {
  background-image: url('../images/sprite/contacts-map-bus.png');
}
.contacts-map__slider {
  position: relative;
}
.contacts-map__path {
  position: absolute;
  left: 3.75px;
  top: 3.75px;
  width: 140px;
}
.contacts-map__path-slider {
  height: 227.25px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3.75px;
  box-shadow: 0px 2.25px 7.5px 0px rgba(0, 0, 0, 0.35);
}
.contacts-map__path-slider-item {
  display: none;
  padding: 5px;
}
.contacts-map__path-desc {
  position: relative;
  line-height: 1;
}
.contacts-map__path-desc--metro {
  padding: 5px;
}
.contacts-map__path-desc--metro:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 75%;
  left: 17px;
  top: 7%;
  background: black;
}
.contacts-map__path-desc--transport {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.contacts-map__desc {
  display: inline-block;
  width: 100%;
  font-size: 13.5px;
  text-align: right;
}
.contacts-map__desc--main {
  font-size: 22.5px;
  text-align: left;
}
.contacts-map__desc--metro {
  position: relative;
  margin-bottom: 11.25px;
  text-align: left;
  padding-left: 26px;
  color: #575656;
}
.contacts-map__desc--metro:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -5px;
  width: 9px;
  height: 9px;
  border: 2.25px solid #575656;
  border-radius: 50%;
  background: white;
  z-index: 5;
}
.contacts-map__desc--metro:first-child,
.contacts-map__desc--metro:last-child {
  color: black;
}
.contacts-map__desc--metro:first-child:before,
.contacts-map__desc--metro:last-child:before {
  border-color: black;
}
.contacts-map__desc--transport {
  width: 60%;
  text-align: left;
  vertical-align: top;
}
.contacts-map__desc--transport:nth-child(2n) {
  width: 40%;
}
.contacts-map__desc--transport:nth-child(2) {
  margin-bottom: 18.75px;
}
.contacts-map__map {
  overflow: hidden;
  width: 100%;
  height: 285px;
  box-shadow: 0px 2.25px 7.5px 0px rgba(0, 0, 0, 0.35);
  border-radius: 7.5px;
}
.contacts-map__map-item {
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts-map__map-item--varsh-foot {
  background-image: url('../images/map/varsh-foot.jpg');
}
.contacts-map__map-item--kash-foot {
  background-image: url('../images/map/kash-foot.jpg');
}
.contacts-map__map-item--varsh-car {
  background-image: url('../images/map/varsh-car.jpg');
}
.contacts-map__map-item--kash-car {
  background-image: url('../images/map/kash-car.jpg');
}
.contacts-map__map-item--varsh-bus {
  background-image: url('../images/map/varsh-bus.jpg');
}
.contacts-map__map-item--kash-bus {
  background-image: url('../images/map/kash-bus.jpg');
}
.contacts-socials {
  float: right;
  margin-top: 60px;
  margin-right: 11.25px;
  width: 42px;
}
.contacts-socials__item {
  display: block;
  margin-bottom: 2.25px;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts-socials__item--twitt {
  background-image: url('../images/sprite/contacts-twitt.png');
}
.contacts-socials__item--twitt:hover {
  background-image: radial-gradient(rgba(237, 237, 237, 0.2), rgba(69, 69, 69, 0.5)), url('../images/sprite/contacts-twitt.png');
}
.contacts-socials__item--vk {
  background-image: url('../images/sprite/contacts-vk.png');
}
.contacts-socials__item--vk:hover {
  background-image: radial-gradient(rgba(237, 237, 237, 0.2), rgba(69, 69, 69, 0.5)), url('../images/sprite/contacts-vk.png');
}
.contacts-socials__item--fb {
  background-image: url('../images/sprite/contacts-fb.png');
}
.contacts-socials__item--fb:hover {
  background-image: radial-gradient(rgba(237, 237, 237, 0.2), rgba(69, 69, 69, 0.5)), url('../images/sprite/contacts-fb.png');
}
.contacts-socials__item--odnoklassniki {
  background-image: url('../images/sprite/contacts-odnoklassniki.png');
}
.contacts-socials__item--odnoklassniki:hover {
  background-image: radial-gradient(rgba(237, 237, 237, 0.2), rgba(69, 69, 69, 0.5)), url('../images/sprite/contacts-odnoklassniki.png');
}
.contacts-socials__item--google {
  background-image: url('../images/sprite/contacts-google.png');
}
.contacts-socials__item--google:hover {
  background-image: radial-gradient(rgba(237, 237, 237, 0.2), rgba(69, 69, 69, 0.5)), url('../images/sprite/contacts-google.png');
}
.toolbar {
  display: none;
  position: fixed;
  z-index: 50;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.toolbar__item {
  display: inline-block;
  text-align: center;
}
.toolbar__item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.toolbar__item:active img {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
.toolbar__item--cart {
  position: relative;
}
.toolbar__item--cart:before,
.toolbar__item--cart:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.toolbar--right {
  right: 0;
  top: 50%;
  margin-top: -232px;
  width: 77px;
  height: 465px;
  background-image: url(../images/toolbar/toolbar-right.png);
  text-align: right;
}
.toolbar--right .toolbar__item {
  width: 92%;
  height: 33.33333333%;
}
.toolbar--right .toolbar__item--search {
  padding-top: 100%;
}
.toolbar--right .toolbar__item--cart {
  padding-top: 75%;
}
.toolbar--right .toolbar__item--cart:before,
.toolbar--right .toolbar__item--cart:after {
  right: 0;
  width: 100%;
  height: 1px;
}
.toolbar--right .toolbar__item--cart:before {
  top: 0;
}
.toolbar--right .toolbar__item--cart:after {
  bottom: 0;
}
.toolbar--right .toolbar__item--profile {
  padding-top: 50%;
}
.toolbar--top {
  top: 0;
  left: 50%;
  margin-left: -299px;
  width: 598px;
  height: 111px;
  background: url('../images/toolbar/toolbar-top.png');
  text-align: center;
}
.toolbar--top .toolbar__item {
  width: 35%;
  height: 62%;
  padding-top: 2%;
}
.toolbar--top .toolbar__item--search {
  padding-left: 15%;
}
.toolbar--top .toolbar__item--cart {
  width: 30%;
}
.toolbar--top .toolbar__item--cart:before,
.toolbar--top .toolbar__item--cart:after {
  top: 0;
  width: 1px;
  height: 100%;
}
.toolbar--top .toolbar__item--cart:before {
  left: 0;
}
.toolbar--top .toolbar__item--cart:after {
  right: 0;
}
.toolbar--top .toolbar__item--profile {
  padding-right: 15%;
}
.footer {
  margin-bottom: 7.5px;
  padding: 60px 0 0 0;
  background: #2f2f2f;
  font-size: 15px;
  color: #e4e1dc;
  box-shadow: 0px 0px 75px 0px rgba(109, 102, 106, 0.8);
}
.footer--main {
  padding-bottom: 18.75px;
  border-bottom: 4.5px solid #484848;
}
.footer--second {
  padding-top: 18.75px;
}
.footer .nav-item__name {
  padding: 0;
  color: #e4e1dc;
}
.footer-contacts__item {
  margin: 0;
}
.footer-contacts__item--skype:before {
  content: '';
  display: inline-block;
  margin-right: 3.75px;
  width: 14.25px;
  height: 14.25px;
  background: url(../images/sprite/footer-skype.png) no-repeat center;
  vertical-align: middle;
}
.footer-contacts__sub-text {
  color: #e4e1dc;
  font-size: 12.75px;
}
.footer-contacts__sub-text:before {
  content: '';
  display: inline-block;
  width: 15.75px;
  height: 11.25px;
  background: url(../images/sprite/footer-marker.png) no-repeat center;
}
.footer-contacts__sub-text:hover {
  color: inherit;
}
.footer-contacts__sub-text:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.footer-code {
  width: 100%;
  height: auto;
}
.footer-code img {
  width: 100%;
}
.footer-logo-block {
  padding-top: 11.25px;
}
.footer-logo-block a {
  display: block;
}
.footer-press {
  text-align: center;
}
@media (max-width: 1200px) {
  .footer-press img {
    width: 85%;
    height: auto;
  }
}
.footer-socials {
  padding-top: 7.5px;
  text-align: right;
  font-size: 13.5px;
  color: #8d8d8d;
  text-transform: uppercase;
}
.footer-socials__text {
  margin-right: 11.25px;
}
.footer-socials__links {
  display: inline-block;
  width: 33.75px;
  height: 33.75px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.footer-socials__links--fb {
  background-image: url('../images/sprite/footer-fb.png');
}
.footer-socials__links--inst {
  background-image: url('../images/sprite/footer-inst.png');
}
.footer-socials__links--vk {
  background-image: url('../images/sprite/footer-vk.png');
}
.footer-copyright {
  color: #8d8d8d;
}
.footer-copyright--name {
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
}
.footer-signature {
  margin-bottom: 41.25px;
  text-align: center;
  font-size: 9px;
  color: #a8a8a8;
}
form input[type='text'] {
  height: 28.5px;
  background: #dddddd;
  font-size: 15px;
  box-shadow: inset 3px 3px 7.5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5.25px;
  border: none;
}
form button,
form input[type='submit'],
form .btn {
  padding: 3px 9px;
  background: #ca2c20;
  color: #ffffff;
  font-size: 15px;
  font-family: 'MyriadPro-Bold', 'Arial', sans-serif;
  border-radius: 5.25px;
  outline: none;
}
form button:hover,
form input[type='submit']:hover,
form .btn:hover {
  color: #ffffff;
  box-shadow: 0 0 3.75px 0 rgba(255, 255, 255, 0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
form button:focus,
form input[type='submit']:focus,
form .btn:focus,
form button:active:focus,
form input[type='submit']:active:focus,
form .btn:active:focus {
  color: #ffffff;
  outline: none;
}
.form-promo__input,
.form-promo__btn {
  display: inline-block;
}
.form-promo__input {
  width: 70%;
  margin-right: 7.5px;
}
.form-promo__sub-text {
  font-size: 12.75px;
}
.form-signup__block,
.form-signup__sub-text {
  font-size: 12.75px;
}
.form-signup__text {
  margin-bottom: 12.75px;
}
.form-signup__input,
.form-signup__btn {
  display: inline-block;
}
.form-signup__input {
  width: 40%;
}
.form-signup__input:last-of-type {
  margin-right: 7.5px;
}
