html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Myriad Pro', 'Arial', sans-serif;
}
.header {
  margin-bottom: 90px;
  width: 100%;
  background: url('../images/bg-header.png') repeat-x center;
  background-size: auto 100%;
}
.header-container {
  padding: 30px 0 0;
  width: 100%;
}
.header-logo {
  padding: 0 45px;
}
.header-logo img {
  width: 100%;
}
.header-logo__slogan {
  font-size: 25px;
  color: #bfbfbf;
  text-transform: uppercase;
}
.header-presentation {
  padding: 60px 15px 0;
  font-size: 36px;
  line-height: 30px;
  color: #bfbfbf;
}
.header-phone {
  padding-right: 20px;
  font-size: 60px;
  color: #818181;
}
.header-phone--grand {
  font-size: 65px;
  font-weight: bold;
  color: #ffffff;
}
.header-call {
  background: url(../images/common/bg-phone--header.png) no-repeat right center;
  background-size: contain;
}
.header-call__handset {
  display: inline-block;
  width: 110px;
  height: 110px;
  background: url('../images/phone--header.png') no-repeat center;
  background-size: cover;
  vertical-align: middle;
}
.header-call__text {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.header .nav {
  background: url(../images/bg-header-menu.png) repeat-x center;
  background-size: auto 100%;
}
.header .nav-item {
  text-align: center;
}
.header .nav-item a {
  display: inline-block;
  vertical-align: middle;
  font-size: 27px;
  text-transform: uppercase;
  color: #ffffff;
}
.header .nav-item--special a {
  color: #e91212;
}
.container--main {
  width: 1540px;
  margin: 0 auto;
  background: #f0efed;
}
.action-title {
  position: relative;
  height: 259px;
  background: #c2c0bf;
}
.action-title__header {
  position: absolute;
  left: -35px;
  top: -105px;
}
.action-title__header-title,
.action-title__header-text {
  line-height: 1;
  text-transform: lowercase;
}
.action-title__header-title {
  font-size: 348px;
  color: #d50000;
}
.action-title__header-text {
  position: absolute;
  bottom: -45px;
  left: 40px;
  width: 1200px;
  font-size: 164px;
  color: #8a8a8a;
}
.action-pict {
  position: absolute;
  top: -20px;
  right: 0;
  width: 616px;
  height: 299px;
  background: url(../images/action-rect.png) no-repeat center;
}
.action-pict__image {
  position: absolute;
  top: -60px;
  right: 150px;
}
.action-pict__percent,
.action-pict__text {
  line-height: 1;
  text-align: center;
}
.action-pict__percent {
  font-size: 307px;
  color: #ffffff;
}
.action-pict__text {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -170px;
  width: 340px;
  text-transform: lowercase;
  font-size: 55px;
  color: #fefefe;
}
