html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: @font-family;
}

.title-reg {
	padding: 5px 5% 20px;
	background: @bg-title;
	font-size: @font-size-title;
	color: @color-title;
	text-transform: uppercase;
}

.title-footer {
	color: @color__footer--title;
	text-transform: uppercase
}

.block-reg {
	background: @bg-block;
}

.block-footer {
	margin-bottom: 15px;
}
