html,
body {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: @font-family;
	margin-bottom: 450px;
	
	@media (max-width: 1199px) {
		margin-bottom: 480px;
	}
	
	@media (max-width: 991px) {
		margin-bottom: 474px;
	}
	
	@media (max-width: 950px) {
		margin-bottom: 484px;
	}
	
	@media (max-width: 827px) {
		margin-bottom: 502px;
	}
	
	@media (max-width: 767px) {
		margin-bottom: 515px;
	}
	
	@media (max-width: 575px) {
		margin-bottom: 495px;
	}
}

.footer-wrapper {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.svg-container {
	display: none;
}

main {}

header,
main,
footer {
	@media (max-width: 479px) {
		overflow: visible;
	}
}

.title-reg {
	margin-bottom: 0;
	padding: (20px*@zoom) 5% (20px*@zoom);
	background: @bg-title;
	font-size: @font-size-title;
	color: @color-title;
	text-transform: uppercase;
	border-top: @border-title;
	
	@media (max-width: 700px) {
		padding: 10px 5%;
		font-size: 20px;
	}
}

.title-footer {
	font-family: @font-family-bold;
	color: @color__footer--title;
	text-transform: uppercase;
	text-shadow: @text-shadow__footer;
}

.block-reg {
	background: @bg-block;
	box-shadow: @box-shadow__popular;
}

.block-footer {
	margin-bottom: (15px*@zoom);
}
