//- -------item01---------
-var productsAction01 = {action: 1}

-var productsDesc01 = []
mixin productsDescCr01(arr)
	-arr.push(['формат', 'А6 (105х148 мм)'])
	-arr.push(['обложка*', 'мел. 170 г/м², 4+0'])
	-arr.push(['блок*', 'офсет. 80 г/м², 1+1'])
	-arr.push(['количество полос', '100'])
	-arr.push(['скрепление', 'КБС'])
+productsDescCr01(productsDesc01)

-var productsVal01 = []
mixin productsValCr01(arr)
	-arr.push(['100', '24700', '20100'])
	-arr.push(['500', '33200', '25200'])
	-arr.push(['1000', '44100', '35300'])
	-arr.push(['2000', '65500', '55400'])
	-arr.push(['10000', '237800', '220600'])
	-arr.push(['20000', '550000', '480800'])
	-arr.push(['50000', '1000000', '900000'])
+productsValCr01(productsVal01)


//- -------item02---------
-var productsAction02 = {action: 0}

-var productsDesc02 = []
mixin productsDescCr02(arr)
	-arr.push(['формат', '145х297 мм'])
	-arr.push(['обложка*', 'мел. 170 г/м², 4+0'])
	-arr.push(['блок*', 'мел. 130 г/м², 4+4'])
	-arr.push(['количество полос', '52'])
	-arr.push(['скрепление', 'КБС'])
+productsDescCr02(productsDesc02)

-var productsVal02 = []
mixin productsValCr02(arr)
	-arr.push(['100', '61900', '20100'])
	-arr.push(['500', '74500', '25200'])
	-arr.push(['1000', '90200', '35300'])
	-arr.push(['2000', '121500', '55400'])
	-arr.push(['10000', '372900', '220600'])
	-arr.push(['20000', '900000', '480800'])
	-arr.push(['50000', '1500000', '900000'])
+productsValCr02(productsVal02)

-var productsDescItems = [productsDesc01, productsDesc02]
-var productsValItems = [productsVal01, productsVal02]
-var productsActionItems = [productsAction01, productsAction02]