-var booklet = {}
mixin bookletObj(item)
	-item['name'] = 'Буклеты'
	-item['id'] = 'booklet'
+bookletObj(booklet)

-var bookletOrder ={}
mixin bookletOrderObj(item, elem)
	-var orderItemDesc01 = {}
	mixin orderItemDesc01Obj(item)
		-item['value'] = '10 шт.'
		-item['format'] = 'А5'
		-item['quantity'] = '3'
		-item['paper'] = 'глянцевая'
		-item['colority'] = '4+4'
		-item['price_old'] = '13000 р.'
		-item['price_new'] = '19600 р.'
	+orderItemDesc01Obj(orderItemDesc01)

	-var orderItemDesc02 = {}
	mixin orderItemDesc02Obj(item)
		-item['value'] = '100 шт.'
		-item['format'] = 'А4'
		-item['quantity'] = '5'
		-item['paper'] = 'глянцевая'
		-item['colority'] = '4+4'
		-item['price_old'] = '19600 р.'
		-item['price_new'] = '19600 р.'
	+orderItemDesc02Obj(orderItemDesc02)

	-var orderItemDesc03 = {}
	mixin orderItemDesc03Obj(item)
		-item['value'] = '1000 шт.'
		-item['format'] = 'А4 (210х297мм)'
		-item['quantity'] = '8'
		-item['paper'] = 'глянцевая 150 г/м²'
		-item['colority'] = '4+4'
		-item['price_old'] = '19600 р.'
		-item['price_new'] = '12900 р.'
	+orderItemDesc03Obj(orderItemDesc03)

	-var orderItemDesc = [orderItemDesc01, orderItemDesc02, orderItemDesc03]
	
	-item['title'] = elem.name
	-item['desc'] = orderItemDesc

+bookletOrderObj(bookletOrder, booklet)