@font-size: 23px;
@font-size--title: 27px;
@font-size--close: 18px;
@font-size--btn: @font-size--title;
@font-size--cols: @font-size--title;
@font-size--sub: @font-size--close;
@font-size--desc: @font-size;

@font-size-1199: 20px;
@font-size--title-1199: 23px;
@font-size--close-1199: 15px;
@font-size--btn-1199: @font-size--title-1199;
@font-size--cols-1199: @font-size--title-1199;
@font-size--sub-1199: @font-size--close-1199;
@font-size--desc-1199: @font-size-1199;

@font-size-767: 13px;
@font-size--title-767: 15px;
@font-size--close-767: 10px;
@font-size--btn-767: @font-size--title-767;
@font-size--cols-767: 18px;
@font-size--sub-767: @font-size--close-767;
@font-size--desc-767: @font-size-767;

@color--block: #8b8987;
@color--btn: #f9f9f9;
@color--dark: #474747;
@color--vals: #626262;
@color--action_title: #ffffff;
@color--action: #a70000;
@color--sub: #aeaeae;
@color--title-small: #898989;

@bg--table: white;
@bg--action_title: #ff0000;
@bg--btn: #555555;

.title-low {
	padding: 15px 7% 10px;
	background: transparent;
	border-top: none;
	border-bottom: @border-title;
	text-transform: none;
}

.product {
	overflow: hidden;
	
	@media (max-width: 767px) {
		border-radius: 0;
	}
	
	&-block {padding-bottom: 25px;}
	
	&__img {
		max-width: 672px;
		
		@media (max-width: 991px) {
			margin: 0 auto;
		}
		
		img {
			width: 100%;
			height: auto;
		}
	}
	
	&-desc {
		margin-left: -25px;
		font-size: @font-size;
		color: @color--block;
		
		@media (max-width: 1199px) {
			margin-left: -10px;
			font-size: @font-size-1199;
		}
		
		@media (max-width: 991px) {
			margin-left: 0;
			padding-top: 15px;
		}
		
		@media (max-width: 767px) {
			font-size: @font-size--title-767;
		}
		
		&-part {
			padding: 14px 25px;
			border-bottom: 1px solid #c9c9c7;
		}
		
		b {
			font-family: @font-family-bold;
		}

		&__title {
		}

		&__text {
			text-align: justify;
			
			p {
				margin: 0;
			}
		}
	}
	
	&-price {
		padding: 55px 58px 93px;
		border-bottom: 1px solid #c9c9c7;
		
		@media (max-width: 991px) {
			padding: 55px 20px 93px;
		}
		
		@media (max-width: 767px) {
			padding: 40px 50px 45px;
		}
		
		@media (max-width: 670px) {
			padding: 40px 10px 45px;
		}
		
		&__table {
			position: relative;
			display: inline-block;
			padding-left: 225px;
			background: white;
			box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, .1);
			
			@media (max-width: 1199px) {
				width: 75%;
				padding-left: 25%;
			}
			
			@media (max-width: 670px) {
				padding-left: 30%;
			}
		}
		
		&__desc,
		&__col {
			float: left;
			padding: 15px 15px 0px;
		}
		
		&__desc {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			padding-bottom: 30px;
			width: 225px;
			font-size: @font-size--sub;
			color: @color--block;
			
			@media (max-width: 1199px) {
				width: (100% / 3);
				font-size: @font-size--sub-1199;
			}
			
			@media (max-width: 767px) {
				padding: 10px 10px 30px;
				font-size: @font-size--sub-767;
			}
			
			@media (max-width: 670px) {
				width: 40%;
			}
			
			&-item {
				margin-bottom: 15px;
				line-height: 1;
				
				@media (max-width: 991px) {
					margin-bottom: 7%;
				}
				
				@media (max-width: 767px) {
					margin-bottom: 5%;
				}
			}
			
			&--name {
				padding-left: 5px;
			}
			
			&--value {
				display: block;
				font-size: @font-size--desc;
				color: @color--dark;
				
				@media (max-width: 1199px) {
					font-size: @font-size--desc-1199;
				}
				
				@media (max-width: 767px) {
					font-size: @font-size--desc-767;
				}
			}
			
			&--subtext {
				position: absolute;
				left: 15px;
				bottom: 5px;
				color: @color--sub;
			}
		}
		
		&__col {
			position: relative;
			padding-left: 0;
			padding-right: 0;
			width: 265px;
			text-align: center;
			font-size: @font-size--cols;
			
			@media (max-width: 1199px) {
				width: 50%;
				font-size: @font-size--cols-1199;
			}
			
			@media (max-width: 767px) {
				font-size: @font-size--cols-767;
			}
			
			&--action {
				position: absolute;
				top: 0;
				right: -275px;
				box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, .1);
				animation: products-action 2s;
				animation-fill-mode: forwards;
				
				@media (max-width: 1199px) {
					width: (100% / 3);
					right: -35%;
				}
			}
		}
		
		&__title {
			position: absolute;
			padding-top: 6px;
			width: 101%;
			height: 55px;
			left: -2%;
			top: -27px;
			background: white;
			border-radius: 5px;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .4);
			line-height: 1;
			text-transform: lowercase;
			
			@media (max-width: 767px) {
				height: 35px;
				top: -17px;
				padding-top: 3px;
			}
			
			&--small {
				display: block;
				font-size: @font-size--sub;
				color: @color--title-small;
				
				@media (max-width: 1199px) {
					font-size: @font-size--sub-1199;
				}
				
				@media (max-width: 767px) {
					font-size: @font-size--sub-767;
				}
			}
			
			&--price {
				left: 0;
				right: -2%;
			}
			
			&--action {
				left: -1%;
				width: 102%;
				padding-top: 15px;
				color: white;
				background: @bg--action_title;
				
				@media (max-width: 767px) {
					padding-top: 9px;
				}
			}
		}
		
		&__vals {
			padding-top: 25px;
			background: white;
			color: @color--vals;
			
			@media (max-width: 767px) {
				padding-top: 5px;
			}
		}
		
		&__val {
			padding-top: 5px;
			border-bottom: 1px solid #c9c9c7;
			
			&:last-of-type {
				border-bottom: none;
			}
		}
		
		&__calculate {
			position: absolute;
			width: 100%;
			height: 55px;
			left: 0;
			bottom: -55px;
			padding-top: 10px;
			background: @bg--btn;
			color: @color--btn;
			font-size: @font-size--btn;
			
			@media (max-width: 1199px) {
				font-size: @font-size--btn-1199;
			}
			
			@media (max-width: 767px) {
				left: -100%;
				bottom: -35px;
				width: 200%;
				height: 35px;
				padding-top: 8px;
				font-size: @font-size--btn-767;
			}
			
			&:hover {
				box-shadow: (0px*@zoom) (2px*@zoom) (6px*@zoom) (0px*@zoom) rgba(35, 31, 32, 0.5);
				transform: scale(1.02);
				color: @color--btn;
			}
			&:active {
				transform: scale(.97);
			}
		}
	}
}