include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang="ru")
	head
		
		include ../blocks/head
		block scripts_upper

	body
		include ../helpers/svg
		include ../blocks/toolbars
		include ../blocks/header2

		main
			.container.container--main
				block content

		.footer-wrapper
			include ../blocks/footer

	include ../blocks/scripts
	block scripts