.action {
	margin-bottom: (80px*@zoom);
	
	&-title {
		width: 100%;
		margin-bottom: (35px*@zoom);
		
		img {
			width: 100%;
		}
	}
	
	&-slider {
		&__item {
			display: none;
		}
	}

	&-block {
		padding: 20px (95px*@zoom) (27px*@zoom);
		box-shadow: @box-shadow__action--bottom;
		
		@media (max-width: 1199px) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	
	&-image {
		max-width: (706px*@zoom);
		box-shadow: @box-shadow__action;
		overflow: hidden;
		
		@media (max-width: 991px) {
			margin-left: -5px;
			margin-right: -5px;
		}
		
		img {
			width: 100%;
			height: auto;
			//border: @border__action-img;
		}
	}
	
	&-order {
		position: relative;
		padding-bottom: (135px*@zoom);
		
		@media (max-width: 1199px) {
			padding-bottom: 80px;
		}
		
		@media (max-width: 991px) {
			margin-left: -5px;
			margin-right: -5px;
			padding-bottom: 65px;
		}
		
		&__item {
			position: relative;
			display: none;
			padding: (1px*@zoom) (25px*@zoom);
			background: @bg__action-order-item;
			line-height: 1;
			border: @border__action-order-item;
			box-shadow: @box-shadow__action;
			z-index: 10;
			
			&-title {
				margin-top: (10px*@zoom);
				color: @color__action-order-title;
				font-size: @font-size__action-order-title;
				
				@media (max-width: 1199px) {
					font-size: @font-size__action-order-title*@zoom1200;
				}
				
				@media (max-width: 991px) {
					font-size: @font-size__action-order-title*@zoom992;
				}
				
				&--value {
					display: block;
					font-size: @font-size__action-order-title--small;
					color: @color__action-order-title--small;
					
					@media (max-width: 1199px) {
						font-size: @font-size__action-order-title--small*@zoom1200;
					}
					
					@media (max-width: 991px) {
						font-size: @font-size__action-order-title--small*@zoom992;
					}
				}
			}
			
			&-description {
				font-size: @font-size__action-order-description;
				color: @color__action-order-description;
				
				@media (max-width: 1199px) {
					font-size: @font-size__action-order-description*@zoom1200;
				}
				
				@media (max-width: 991px) {
					font-size: @font-size__action-order-description*@zoom992;
				}
			}
			
			&-price {
				&--old,
				&--new {
					display: block;
					text-align: right;
					line-height: 1;
				}
				
				&--old {
					font-size: @font-size__action-order-price;
					color: @color__action-order-price;
					text-decoration: line-through;
					
					@media (max-width: 1199px) {
						font-size: @font-size__action-order-price*@zoom1200;
					}
					
					@media (max-width: 991px) {
						font-size: @font-size__action-order-price*@zoom992;
					}
				}
				
				&--new {
					font-family: @font-family-bold;
					font-size: @font-size__action-order-price--new;
					color: @color__action-order-price--new;
					
					@media (max-width: 1199px) {
						font-size: @font-size__action-order-price--new*@zoom1200;
					}
					
					@media (max-width: 991px) {
						font-size: @font-size__action-order-price--new*@zoom992;
					}
				}
			}
		}
		
		&__controls {
			li {
				width: (100% / 3);
				
//				&.active a {
//					height: (125px*@zoom);
//					background-color: @bg__action-order-controls--active;
//					border: @boder__action-order-controls--active;
//					
//					@media (max-width: 991px) {
//						height: 55px;
//					}
//				}
			}
			
			&-item {
				display: block;
				margin-bottom: 0;
				width: 100%;
				height: (110px*@zoom);
				background-color: @bg__action-order-controls;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 90% auto;
				vertical-align: top;
				box-shadow: @box-shadow__action-order-controls;
				
				@media (max-width: 991px) {
					height: 50px;
				}
				
				&--1 {
					background-image: url(../images/sprite/action-order__controls--1.png);
				}
				
				&--2 {
					background-image: url(../images/sprite/action-order__controls--2.png);
				}
				
				&--3 {
					background-image: url(../images/sprite/action-order__controls--3.png);
				}
				
				&:hover {
					background-color: @bg__action-order-controls--hover;
				}
			}
		}
		
		&__btn {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: (118px*@zoom);
			text-align: center;
			line-height: 1;
			border: @border__action-order-btn;
			box-shadow: @box-shadow__action;
			
			@media (max-width: 1199px) {
				height: 70px;
			}
			
			@media (max-width: 991px) {
				height: 60px;
			}
			
			&:hover {
				box-shadow: (0px*@zoom) (2px*@zoom) (6px*@zoom) (0px*@zoom) rgba(35, 31, 32, 0.5);
				transform: scale(1.02);
				text-decoration: none;
			}
			&:active {
				box-shadow: inset 0 0 (15px*@zoom) (1px*@zoom) rgba(225, 225, 225, .5), (0px*@zoom) (1px*@zoom) (4px*@zoom) (1px*@zoom) rgba(35, 31, 32, 0.5);
				transform: scale(.97);
			}
			
			&--text {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-transform: lowercase;
				font-family: @font-family-bold;
				font-size: @font-size__action-order-btn--small;
				color: @color__action-order-btn--small;
				
				@media(max-width: 1199px) {
					font-size: 19px;
				}
				
				@media(max-width: 991px) {
					font-size: @font-size__action-order-btn--small*@zoom992;
				}
				
				&-bg {
					font-size: 110px*@zoom;
					font-family: @font-family-bold;
					background-color: rgb(60, 0, 0);
					color: transparent;
					text-shadow:
						rgba(255, 0, 0, .5) 0px -1px 0px,
						rgba(255, 130, 100, .6) -2px -2px 1px ,
						rgba(0, 0, 0, 0.5) 0px -2px 0px,
						rgba(0, 0, 0, .2) 1px 3px 3px;
					
					@media(max-width: 1199px) {
						font-size: 70px;
					}
					
					@media(max-width: 991px) {
						font-size: 60px;
					}
				}
			}
		}
		
		.generate-action-order(10);
	}
	
	&-timer {
		position: relative;
		z-index: 5;
		padding: (25px*@zoom) 0;
		box-shadow: @box-shadow__action--bottom;
		
		&__text {
//			height: (160px*@zoom);
//			background: url(../images/common/action_timer--text.png) no-repeat 70% center;
			
			
			text-align: center;
			font-size: @font-size__action-timer;
			background-color: rgba(0, 0, 0, 0.8);
			line-height: 1;
			color: transparent;
			text-shadow:
				rgba(255,255,255,0.2) 3px 1px 0px,
				rgba(255,255,255,0.5) 1px 3px 1px;

			span {
				display: block;
				text-transform: uppercase;
			}
			
		}
		
		&__counter {
			.reset-ul();
			color: #c8c8c8;
			text-align: center;
			line-height: 1;
			
			img {display: block;}
			
			li {
				position: relative;
				display: inline-block;
				width: 110px;
				height: 110px;
				padding-top: 20px;
				
				canvas{
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			
			&--time,
			&--text {
				display: block;
			}
			
			&--time {
				font-family: @font-family-bold;
				font-size: 50px;
			}
			
			&--text {
				font-size: 15px;
			}
			
			#stop {
				color:white;
				font-size:16px;
				margin:15px 10px 10px 25px;
				position:absolute;
			}
		}
	}
	
	&-controls {
		width: 100%;
		padding: 0 (12px*@zoom);
		font-size: @font-size__action-controls;
		color: @color__action-controls;
		
		
		li {
			width: (100% / 10);
			padding: 0 (1px*@zoom);
		}
		
		&__item {
			padding: 0;
			
			&:hover {
				border: none;
				background: white;
				box-shadow: @box-shadow__action;
			}
			
			&:active {
				box-shadow: @box-shadow__action--active;
			}
		}
		
		&__item {
			text-align: center;
			
			&--pict,
			&--name {
				border: @border__action-controls;
			}
			
			&--pict {
				display: block;
				height: (145px*@zoom);
				border-bottom: none;
				
				@media (max-width: 991px) {
					height: 70px;
				}
				
				img {
					width: 100%;
					height: auto;
				}
			}
			
			&--name {
				display: block;
				height: (70px*@zoom);
				padding: (20px*@zoom) 0;
				background: @bg__action-controls-grad;
				font-size: @font-size__action-controls;
				color: @color__action-controls;
				text-transform: uppercase;
				border-image: @bg__action-controls-grad 1;
				
				@media (max-width: 991px) {
					padding: 10px 0;
					height: auto;
					font-size: @font-size__action-controls*@zoom992;
				}
			}
		}
	}
	
	.generate-action-slider(10);
}