.clients {
	&-block {
		margin-bottom: (65px*@zoom);
		background: #f3f3f3;
		text-align: center;
	}
	&-item {
		display: inline-block;
		max-width: (238px*@zoom);
		min-width: (200px*@zoom);
		height: (115px*@zoom);
		line-height: (115px*@zoom);
		
		img {
			max-width: 95%;
		}
	}
}