.contacts {
	&-block {
		margin-bottom: 45px;
		padding-bottom: 35px;
	}
	
	&-info {
		padding: 35px 7px 0 45px;
		font-size: @font-size__contacts-info;
		
		@media (max-width: 991px) {
			padding-left: 10%;
		}
		
		&__item {
			display: block;
			margin-bottom: 20px;
			color: @color__contacts-info;
			
			@media (max-width: 991px) {
				margin-bottom: 10px;
			}
			
			@media (max-width: 600px) {
				font-size: 16px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
			
			span {
				display: inline-block;
				width: 80%;
				vertical-align: middle;
				
				@media (max-width:1199px) {
					width: 75%;
				}
			}

			&:hover {
				text-decoration: none;
			}
			
			&:before {
				@w: 65px;
				content: '';
				display: inline-block;
				margin-right: (20px*@zoom);
				width: @w;
				height: @w;
				vertical-align: middle;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				
				@media (max-width: 600px) {
					width: 40px;
					height: 40px;
				}
			}
			
			&--phone:before {
				background-image: url(../images/sprite/contacts-phone.png);
			}
			
			&--mail:before {
				background-image: url(../images/sprite/contacts-mail.png);
			}
			
			&--skype:before {
				background-image: url(../images/sprite/contacts-skype.png);
			}
			
			&--adress:before {
				background-image: url(../images/sprite/contacts-adress.png);
			}
		}
		
	}
	
	&-map {
		padding-top: 15px;
		font-family: @font-family-cond;
		
		@media (max-width: 991px) {
			padding-left: 25px;
			padding-right: 25px;
		}
		
		input[type='radio'] {
			display: none;
		}
		
		.generate-metro(2);
		.generate-map-slider(3);
		
		&__controls {
			width: 96%;
			margin-left: 2%;
			text-align: center;
			
			&--metro {
				display: inline-block;
				width: 26px;
				height: 19px;
				margin: 0 7px;
				background: url(../images/sprite/contacts-map-metro.png) no-repeat center;
				background-size: contain;
			}
			
			label {
				float: left;
				width: (100% / 2);
				background: white;
				opacity: .6;
				font-size: @font-size__contacts-map--controls;
				box-shadow: @box-shadow__contacts;
				cursor: pointer;
				
				&[for='varsh'] {
					border-radius: 44px 0 0 44px;
				}
				
				&[for='kash'] {
					border-radius: 0 44px 44px 0;
				}
			}
			
			&--path {
				margin-bottom: 3px;
				height: 45px;
				text-align: center;
				
				label {
					@w: 45px;
					margin-bottom: 0;
					width: @w;
					height: @w;
					background-color: white;
					background-repeat: no-repeat;
					background-position: center;
					opacity: .6;
					border-radius: 3px;
					box-shadow: @box-shadow__contacts;
					cursor: pointer;
				}
				
				.generate-path(3);
			}
		}
		
		&__slider {
			position: relative;
		}
		
		&__path {
			position: absolute;
			left: 3px;
			top: 3px;
			width: 140px;
			
			&-slider {
				height: 229px;
				background: rgba(255, 255, 255, .6);
				border-radius: 3px;
				box-shadow: @box-shadow__contacts-map;
				
				&-item {
					display: none;
					padding: 5px;
				}
			}
			
			&-desc {
				position: relative;
				line-height: 1;
				
				&--metro {
					padding: 5px;
					
					&:before {
						content: '';
						position: absolute;
						width: 1px;
						height: 75%;
						left: 17px;
						top: 7%;
						background: black;
					}
				}
				
				&--transport {
					position: absolute;
					bottom: 10px;
					left: 10px;
				}
			}
		}
		
		&__desc {
			display: inline-block;
			width: 100%;
			font-size: @font-size__contacts-map_path;
			text-align: right;
			
			&--main {
				font-size: @font-size__contacts-map_path--main;
				text-align: left;
			}
			
			&--metro {
				position: relative;
				margin-bottom: 11px;
				text-align: left;
				padding-left: 26px;
				color: #575656;
				
				&:before {
					@w: 9px;
					content: '';
					position: absolute;
					left: 8px;
					top: 50%;
					margin-top: -5px;
					width: @w;
					height: @w;
					border: 2px solid #575656;
					border-radius: 50%;
					background: white;
					z-index: 5;
				}
				
				&:first-child,
				&:last-child {
					color: black;
					
					&:before {
						border-color: black;
					}
				}
			}
			
			&--transport {
				width: 60%;
				text-align: left;
				vertical-align: top;
				
				&:nth-child(2n) {
					width: 40%;
				}
				
				&:nth-child(2) {
					margin-bottom: (25px*@zoom);
				}
			}
		}
		
		&__map {
			overflow: hidden;
			width: 100%;
			height: 285px;
			box-shadow: @box-shadow__contacts-map;
			border-radius: 7px;
			
			&-item {
				display: none;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				
				.generate-map(3);
			}
		}
	}
	
	&-socials {
		float: right;
		margin-top: 60px;
		margin-right: 11px;
		width: 42px;
		
		@media (max-width: 600px) {
			margin-top: 15px;
		}
		
		&__item {
			@w: 42px;
			display: block;
			margin-bottom: 3px;
			width: @w;
			height: @w;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			
			.generate-socials(5);
		}
	}
}