.contacts {
	&-block {
		margin-bottom: (60px*@zoom);
		padding-bottom: 35px;
	}
	
	&-info {
		padding: 35px (10px*@zoom) 0 (60px*@zoom);
		font-size: @font-size__contacts-info;
		
		&__item {
			display: block;
			margin-bottom: 20px;
			color: @color__contacts-info;

			&:last-of-type {
				margin-bottom: 0;
			}

			&:hover {
				text-decoration: none;
			}
			
			&:before {
				content: '';
				display: inline-block;
				margin-right: (20px*@zoom);
				width: (87px*@zoom);
				height: (87px*@zoom);
				vertical-align: middle;
				background-repeat: no-repeat;
				background-position: center;
			}
			
			&--phone:before {
				background-image: url(../images/sprite/contacts-phone.png);
			}
			
			&--mail:before {
				background-image: url(../images/sprite/contacts-mail.png);
			}
			
			&--skype:before {
				background-image: url(../images/sprite/contacts-skype.png);
			}
			
			&--adress:before {
				background-image: url(../images/sprite/contacts-adress.png);
			}
		}
		
	}
	
	&-map {
		padding-top: (20px*@zoom);
		font-family: @font-family-cond;
		
		input[type='radio'] {
			display: none;
		}
		
		.generate-metro(2);
		.generate-map-slider(3);
		
		&__controls {
			width: 96%;
			margin-left: 2%;
			text-align: center;
			
			&--metro {
				display: inline-block;
				width: (35px*@zoom);
				height: (26px*@zoom);
				margin: 0 (10px*@zoom);
				background: url(../images/sprite/contacts-map-metro.png) no-repeat center;
			}
			
			label {
				float: left;
				width: (100% / 2);
				background: white;
				opacity: .6;
				font-size: @font-size__contacts-map--controls;
				box-shadow: @box-shadow__contacts;
				
				&[for='varsh'] {
					border-radius: (59px*@zoom) (0px*@zoom) (0px*@zoom) (59px*@zoom);
				}
				
				&[for='kash'] {
					border-radius: (0px*@zoom) (59px*@zoom) (59px*@zoom) (0px*@zoom);
				}
			}
			
			&--path {
				margin-bottom: (5px*@zoom);
				height: (60px*@zoom);
				text-align: center;
				
				label {
					margin-bottom: 0;
					width: (60px*@zoom);
					height: (60px*@zoom);
					background-color: white;
					background-repeat: no-repeat;
					background-position: center;
					opacity: .6;
					border-radius: (5px*@zoom);
					box-shadow: @box-shadow__contacts;
				}
				
				.generate-path(3);
			}
		}
		
		&__slider {
			position: relative;
		}
		
		&__path {
			position: absolute;
			left: (5px*@zoom);
			top: (5px*@zoom);
			width: 140px;
			
			&-slider {
				height: (303px*@zoom);
				background: rgba(255, 255, 255, .6);
				border-radius: (5px*@zoom);
				box-shadow: @box-shadow__contacts-map;
				
				&-item {
					display: none;
					padding: 5px;
				}
			}
			
			&-desc {
				position: relative;
				line-height: 1;
				
				&--metro {
					padding: 5px;
					
					&:before {
						content: '';
						position: absolute;
						width: 1px;
						height: 75%;
						left: 17px;
						top: 7%;
						background: black;
					}
				}
				
				&--transport {
					position: absolute;
					bottom: 10px;
					left: 10px;
				}
			}
		}
		
		&__desc {
			display: inline-block;
			width: 100%;
			font-size: @font-size__contacts-map_path;
			text-align: right;
			
			&--main {
				font-size: @font-size__contacts-map_path--main;
				text-align: left;
			}
			
			&--metro {
				position: relative;
				margin-bottom: (15px*@zoom);
				text-align: left;
				padding-left: 26px;
				color: #575656;
				
				&:before {
					content: '';
					position: absolute;
					left: 8px;
					top: 50%;
					margin-top: -5px;
					width: (12px*@zoom);
					height: (12px*@zoom);
					border: (3px*@zoom) solid #575656;
					border-radius: 50%;
					background: white;
					z-index: 5;
				}
				
				&:first-child,
				&:last-child {
					color: black;
					
					&:before {
						border-color: black;
					}
				}
			}
			
			&--transport {
				width: 60%;
				text-align: left;
				vertical-align: top;
				
				&:nth-child(2n) {
					width: 40%;
				}
				
				&:nth-child(2) {
					margin-bottom: (25px*@zoom);
				}
			}
		}
		
		&__map {
			overflow: hidden;
			width: 100%;
			height: (380px*@zoom);
			box-shadow: @box-shadow__contacts-map;
			border-radius: (10px*@zoom);
			
			&-item {
				display: none;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				
				.generate-map(3);
			}
		}
	}
	
	&-socials {
		float: right;
		margin-top: (80px*@zoom);
		margin-right: (15px*@zoom);
		width: (56px*@zoom);
		
		&__item {
			display: block;
			margin-bottom: (3px*@zoom);
			width: (56px*@zoom);
			height: (56px*@zoom);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			
			.generate-socials(5);
		}
	}
}