.contacts {
	&-block {
		margin-bottom: (60px*@zoom);
	}
	
	&-info {
		padding: (50px*@zoom) (10px*@zoom) (50px*@zoom) (60px*@zoom);
		font-size: @font-size__contacts-info;
		color: @color__contacts-info;
		
		&__item {
			
			&:before {
				content: '';
				display: inline-block;
				margin-right: (20px*@zoom);
				width: (87px*@zoom);
				height: (87px*@zoom);
				vertical-align: middle;
				background-repeat: no-repeat;
				background-position: center;
			}
			
			&--phone:before {
				background-image: url(../images/sprite/contacts-phone.png);
			}
			
			&--mail:before {
				background-image: url(../images/sprite/contacts-mail.png);
			}
			
			&--skype:before {
				background-image: url(../images/sprite/contacts-skype.png);
			}
			
			&--adress:before {
				background-image: url(../images/sprite/contacts-adress.png);
			}
		}
		
	}
	
	&-map {
		padding-top: (20px*@zoom);
		font-family: @font-family-cond;
		
		input[type='radio'] {
			display: none;
		}
		
		.generate-metro(2);
		.generate-map-slider(3);
		
		&__controls {
			width: 96%;
			margin-left: 2%;
			text-align: center;
			
			&--metro {
				display: inline-block;
				width: (35px*@zoom);
				height: (26px*@zoom);
				margin: 0 (10px*@zoom);
				background: url(../images/sprite/contacts-map-metro.png) no-repeat center;
			}
			
			label {
				float: left;
				width: (100% / 2);
				background: white;
				opacity: .6;
				font-size: @font-size__contacts-map--controls;
				box-shadow: @box-shadow__contacts;
				
				&[for='varsh'] {
					border-radius: (59px*@zoom) (0px*@zoom) (0px*@zoom) (59px*@zoom);
				}
				
				&[for='kash'] {
					border-radius: (0px*@zoom) (59px*@zoom) (59px*@zoom) (0px*@zoom);
				}
			}
			
			&--path {
				margin-bottom: (5px*@zoom);
				height: (60px*@zoom);
				
				label {
					margin-bottom: 0;
					width: (60px*@zoom);
					height: (60px*@zoom);
					background-color: white;
					background-repeat: no-repeat;
					background-position: center;
					opacity: .6;
					border-radius: (5px*@zoom);
					box-shadow: @box-shadow__contacts;
				}
				
				.generate-path(3);
			}
		}
		
		&__slider {
			position: relative;
		}
		
		&__path {
			position: absolute;
			left: (5px*@zoom);
			top: (5px*@zoom);
			
			&-slider {
				height: (303px*@zoom);
				background: rgba(255, 255, 255, .6);
				border-radius: (5px*@zoom);
				box-shadow: @box-shadow__contacts-map;
				
				&-item {
				display: none;
				}
			}
		}
		
		&__map {
			overflow: hidden;
			width: 100%;
			height: (380px*@zoom);
			box-shadow: @box-shadow__contacts-map;
			border-radius: (10px*@zoom);
			
			&-item {
				display: none;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				
				.generate-map(3);
			}
		}
	}
	
	&-socials {
		float: right;
		margin-top: (80px*@zoom);
		margin-right: (15px*@zoom);
		width: (56px*@zoom);
		
		&__item {
			display: block;
			margin-bottom: (3px*@zoom);
			width: (56px*@zoom);
			height: (56px*@zoom);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			
			.generate-socials(5);
		}
	}
}