.equipment {
	&-block {
		margin-bottom: (60px*@zoom);
		padding: (60px*@zoom) (50px*@zoom) (30px*@zoom);
	}
	
	&-item {
		text-align: center;
		text-transform: uppercase;
		
		&__title {
			margin-bottom: (30px*@zoom);
			font-size: @font-size__equipment;
			color: @color__equipment;
			text-shadow: @text-shadow__equipment;
			
			@media (max-width: 992px) {
				margin-bottom: 10px;
				font-size: @font-size__equipment*@zoom992;
			}
		}
		
		&__img {
			overflow: hidden;
			display: block;
			max-width: (466px*@zoom);
			box-shadow: @box-shadow__equipment;
			
			@media (max-width: 992px) {
				margin: 0 -10px;
			}
			
			&:hover {
				box-shadow: (0px*@zoom) (0px*@zoom) (16px*@zoom) (5px*@zoom) rgba(0, 0, 1, .30);
				transform: scale(1.02);
				text-decoration: none;
			}
			&:active {
				box-shadow: inset 0 0 (15px*@zoom) (1px*@zoom) rgba(225, 225, 225, .5), (0px*@zoom) (0px*@zoom) (16px*@zoom) 0 rgba(0, 0, 1, .30);
				transform: scale(.97);
			}
			
			img {
				width: 100%;
				height: auto;
				//border: @border__equipment;
			}
		}
	}
}