.footer {
	margin-bottom: (10px*@zoom);
	padding: (80px*@zoom) 0 0 0;
	background: @bg-footer;
	font-size: @font-size__footer;
	color: @color__footer;
	box-shadow: @box-shadow__footer;
	
	@media (max-width: 991px) {
		font-size: 13px;
	}
	
	&-container {
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	
	&--main {
		padding-bottom: (25px*@zoom);
		border-bottom: (6px*@zoom) solid @border-color;
	}
	
	&--second {
		padding-top: (25px*@zoom);
	}
	
	.nav {
		&-item {
			&__name {
				padding: 0;
				color: @color__footer;
			}
		}
	}
	
	&-contacts {
		&__item {
			margin: 0;
			
			&--skype {
				&:before {
					content: '';
					display: inline-block;
					margin-right: (5px*@zoom);
					width: (19px*@zoom);
					height: (19px*@zoom);
					background: url(../images/sprite/footer-skype.png) no-repeat center;
					vertical-align: middle;
				}
			}
		}
		
		&__sub-text {
			color: @color__footer;
			font-size: @font-size__footer--small;
			
			@media (max-width: 991px) {
				font-size: 11px;
			}
			
			&:before {
				content: '';
				display: inline-block;
				width: (21px*@zoom);
				height: (15px*@zoom);
				background: url(../images/sprite/footer-marker.png) no-repeat center;
			}
			
			&:hover {
				color: inherit;
				
				&:before {
					transform: scale(1.2);
				}
			}
		}
	}
	
	&-code {
		width: 100%;
		height: auto;
		
		img {
			width: 100%;
		}
	}
	
	&-logo {
		&-block {
			padding-top: (15px*@zoom);
			
			a {
				display: block;
			}
		}
		
	}
	
	&-press {
		text-align: center;
		
		img {
			@media (max-width: 1199px) {
				width: 85%;
				height: auto;
			}
		}
	}
	
	&-socials {
		padding-top: (10px*@zoom);
		text-align: right;
		font-size: @font-size__footer-socials;
		color: @color__footer-socials;
		text-transform: uppercase;
		
		@media(max-width: 911px) {
			font-size: inherit;
			text-align: center;
		}
		
		&__text {
			margin-right: (15px*@zoom);
			
			@media(max-width: 911px) {
				display: inline-block;
				width: 100%;
				margin-right: 0;
			}
		}
		
		&__links {
			display: inline-block;
			width: (45px*@zoom);
			height: (45px*@zoom);
			background-repeat: no-repeat;
			background-position: center;
			vertical-align: middle;
			
			.generate-footer-socials(3);
		}
	}
	
	&-copyright {
		color: @color__footer-copyright;
		
		&--name {
			font-family: @font-family-bold;
		}
	}
	
	&-signature {
		margin-bottom: (55px*@zoom);
		text-align: center;
		font-size: @font-size__footer-signature;
		color: @color__footer-signature;
	}
}

