.footer {
	margin-bottom: (10px*@zoom);
	padding: (80px*@zoom) 0 0 0;
	background: @bg-footer;
	font-size: @font-size__footer;
	color: @color__footer;
	box-shadow: @box-shadow__footer;
	
	@media (max-width: 991px) {
		font-size: 13px;
	}
	
	&-container {
		@media (max-width: 991px) {
			width: 100%;
		}
		
		@media (max-width: 479px) {
			width: 480px;
		}
	}
	
	&--main {
		padding-bottom: (25px*@zoom);
		border-bottom: (6px*@zoom) solid @border-color;
	}
	
	&--second {
		padding-top: (25px*@zoom);
	}
	
	&-menu {
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	
	.nav {
		&-item {
			&__name {
				padding: 0;
				color: @color__footer;
			}
		}
	}
	
	&-contacts {
		&__item {
			margin: 0;
			
			&--skype {
				
				svg {
					width: 15px;
					height: 15px;
					fill: #00aff0;
					vertical-align: top;
					margin-right: 5px;
				}
				
//				&:before {
//					content: '';
//					display: inline-block;
//					margin-right: (5px*@zoom);
//					width: (19px*@zoom);
//					height: (19px*@zoom);
//					background: url(../images/sprite/footer-skype.png) no-repeat center;
//					vertical-align: middle;
//				}
			}
		}
		
		&__sub-text {
			color: @color__footer;
			font-size: @font-size__footer--small;
			
			@media (max-width: 991px) {
				font-size: 11px;
			}
			
			&:before {
				content: '';
				display: inline-block;
				width: (21px*@zoom);
				height: (15px*@zoom);
				background: url(../images/sprite/footer-marker.png) no-repeat center;
			}
			
			
			&:hover {
				color: inherit;
				
				&:before {
					transform: scale(1.2);
				}
			}
		}
	}
	
	&-code {
		width: 100%;
		height: auto;
		
		img {
			width: 100%;
		}
	}
	
	&-logo {
		&-block {
			padding-top: (15px*@zoom);
			
			@media (max-width: 1199px) {
				padding-top: 0;
			}
			
			a {
				display: block;
				
				img {
					max-width: 138px;
					width: 100%;
					height: auto;
				}
			}
		}
		
	}
	
	&-press {
		text-align: center;
		
		@media(max-width: 950px) {
			padding-top: 5px;
		}
		
		img {
			@media (max-width: 1199px) {
				width: 85%;
				height: auto;
			}
		}
	}
	
	&-socials {
		padding-top: (10px*@zoom);
		text-align: right;
		font-size: @font-size__footer-socials;
		color: @color__footer-socials;
		text-transform: uppercase;
		
		@media(max-width: 950px) {
			padding-top: 0;
			font-size: inherit;
			text-align: center;
		}
		
		@media(max-width: 767px) {
			font-size: 11px;
		}
		
		@media(max-width: 700px) {
			padding-top: 2%;
		}
		
		@media(max-width: 590px) {
			font-size: 8px;
		}
		
		@media(max-width: 540px) {
			padding-top: 0;
		}
		
		&__text {
			margin-right: (15px*@zoom);
			
			@media(max-width: 950px) {
				display: inline-block;
				width: 100%;
				margin-right: 0;
			}
		}
		
		&__links {
			display: inline-block;
			margin-right: 1%;
			width: 33px;
			height: 33px;
			vertical-align: middle;
			border-radius: 5px;
			
			svg {
				width: 100%;
				height: 100%;
				fill: white;
			}
			
			.generate-footer-socials(3);
			
			@media (max-width: 767px) {
				width: 25px;
				height: 25px;
			}
		}
	}
	
	&-copyright {
		color: @color__footer-copyright;
		
		@media(max-width: 1199px) {
			font-size: 11px;
		}
		
		@media(max-width: 767px) {
			margin-bottom: 5px;
			font-size: 7px;
		}
		
		&--name {
			font-family: @font-family-bold;
		}
	}
	
	&-signature {
		margin-bottom: (55px*@zoom);
		text-align: center;
		font-size: @font-size__footer-signature;
		color: @color__footer-signature;
		
		@media(max-width: 767px) {
			font-size: 6px;
		}
		
		@media (max-width: 479px) {
			width: 480px;
		}
	}
}

