//TODO: gradient-bg
.header {
	margin-bottom: 90px;
	width: 100%;
	background: @bg-header;
	
	&-container {
		position: relative;
		padding: 30px 0 15px;
	}
	
	&-logo {
		padding: 0 45px;
		text-align: center;

		&__slogan {
			font-size: @font-size__header-slogan;
			color: @color__header-slogan;
			text-transform: uppercase;
		}
	}
	&-presentation {
		padding: 85px 5% 0;
		font-size: @font-size__header-pres;
		line-height: 1;
		color: @color__header-pres;
		text-shadow: @text-shadow__header-presentation;
	}
	
	&-phone {
		padding-top: 10px;
		padding-right: 20px;
		font-size: @font-size__header-phone;
		color: @color__header-phone;
		
		&--grand {
			font-family: @font-family-bold;
			font-size: @font-size__header-phone--grand;
			color: @color__header-phone--grand;
		}
	}
	
	&-call {
		position: absolute;
		right: 15px;
		bottom: -120px;
		height: 116px;
		width: 478px;
		background-image: @bg__header-phone;
		border-radius: 115px 0 0 115px;
		box-shadow: @box-shadow__header-call;
		z-index: 10;
		
		&__handset {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 110px;
			height: 110px;
			background: url('../images/phone--header.png') no-repeat center;
			background-size: cover;
		}
		
		&__text {
			line-height: 115px;
			margin-right: 25px;
			font-family: @font-family-bold;
			font-size: @font-size__header-call;
			color: @color__header-call;
			text-transform: uppercase;
			text-shadow: @text-shadow__header-call;
		}
	}
	
	//TODO: menu-item:hover
	//TODO: рассчитать ширину ячеек, с жирным шрифтом съезжает
	.nav {
		
		&-item {
			background: @bg-menu;
			box-shadow: @box-shadow__nav-item;
			
			a {
				padding-top: 35px;
				padding-bottom: 30px;
				//font-family: @font-family-bold;
				font-size: @font-size__header-menu;
				text-transform: uppercase;
				color: @color__header-menu;
				text-shadow: @text-shadow__nav-item;
				
				&:hover {
					background: @bg-menu-hover;
				}
			}
			
			&--special a {
				color: @color__header-menu-special;
			}
		}
	}
}

