//TODO: gradient-bg
.header {
	margin-bottom: (90px*@zoom);
	width: 100%;
	background: @bg-header;
	
	&-container {
		position: relative;
		padding: (30px*@zoom) 0 (15px*@zoom);
	}
	
	&-logo {
		padding: 0 (45px*@zoom);
		text-align: center;

		&__slogan {
			font-size: @font-size__header-slogan;
			color: @color__header-slogan;
			text-transform: uppercase;
		}
	}
	&-presentation {
		padding: (85px*@zoom) 5% 0;
		font-size: @font-size__header-pres;
		line-height: 1;
		color: @color__header-pres;
		text-shadow: @text-shadow__header-presentation;
	}
	
	&-phone {
		padding-top: (10px*@zoom);
		padding-right: (20px*@zoom);
		font-size: @font-size__header-phone;
		color: @color__header-phone;
		
		&--grand {
			font-family: @font-family-bold;
			font-size: @font-size__header-phone--grand;
			color: @color__header-phone--grand;
		}
	}
	
	&-call {
		position: absolute;
		right: (15px*@zoom);
		bottom: -(120px*@zoom);
		height: (116px*@zoom);
		width: (478px*@zoom);
		background-image: @bg__header-phone;
		border-radius: (115px*@zoom) 0 0 (115px*@zoom);
		box-shadow: @box-shadow__header-call;
		z-index: 10;
		
		&__handset {
			position: absolute;
			top: (5px*@zoom);
			left: (5px*@zoom);
			width: (110px*@zoom);
			height: (110px*@zoom);
			background: url('../images/phone--header.png') no-repeat center;
			background-size: cover;
		}
		
		&__text {
			line-height: (115px*@zoom);
			margin-right: (25px*@zoom);
			font-family: @font-family-bold;
			font-size: @font-size__header-call;
			color: @color__header-call;
			text-transform: uppercase;
			text-shadow: @text-shadow__header-call;
		}
	}
	
	//TODO: menu-item:hover
	//TODO: рассчитать ширину ячеек, с жирным шрифтом съезжает
	.nav {
		
		&-item {
			background: @bg-menu;
			box-shadow: @box-shadow__nav-item;
			
			a {
				padding-top: (35px*@zoom);
				padding-bottom: (30px*@zoom);
				//font-family: @font-family-bold;
				font-size: @font-size__header-menu;
				text-transform: uppercase;
				color: @color__header-menu;
				text-shadow: @text-shadow__nav-item;
				
				&:hover {
					background: @bg-menu-hover;
				}
			}
			
			&--special a {
				color: @color__header-menu-special;
			}
		}
	}
}

