//TODO: gradient-bg
.header {
	margin-bottom: 90px;
	width: 100%;
	background: @bg-header;
	
	&-container {
		position: relative;
		padding: 30px 0 15px;
	}
	
	&-logo {
		padding: 0 45px;
		text-align: center;

		&__slogan {
			font-size: @font-size__header-slogan;
			color: @color__header-slogan;
			text-transform: uppercase;
		}
	}
	&-presentation {
		padding: 85px 5% 0;
		font-size: @font-size__header-pres;
		line-height: 1;
		color: @color__header-pres;
		text-shadow: -1px 1px 2px rgba(0, 0, 0, .35);
	}
	
	&-phone {
		padding-top: 10px;
		padding-right: 20px;
		font-size: @font-size__header-phone;
		color: @color__header-phone;
		
		&--grand {
			font-family: @font-family-bold;
			font-size: @font-size__header-phone--grand;
			color: @color__header-phone--grand;
		}
	}
	
	&-call {
		position: absolute;
		right: 15px;
		bottom: -120px;
		height: 116px;
		width: 478px;
		background-image: linear-gradient(#535353, #6e6e6e, #535353);
		border-radius: 115px 0 0 115px;
		box-shadow: inset 1px -2px 2px 1px rgba(0, 0, 0, 0.3),
					inset 0px 3px 2px 1px rgba(0, 0, 0, 0.3),
					inset -4px 4px 3px -1px rgba(255, 255, 255, 0.3),
					-14px 9px 43px 0px rgba(0, 0, 0, 0.35);
		z-index: 10;
		
		&__handset {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 110px;
			height: 110px;
			background: url('../images/phone--header.png') no-repeat center;
			background-size: cover;
		}
		
		&__text {
			line-height: 115px;
			margin-right: 25px;
			font-family: @font-family-bold;
			font-size: @font-size__header-call;
			color: @color__header-call;
			text-transform: uppercase;
		}
	}
	
	//TODO: menu-item:hover
	//TODO: рассчитать ширину ячеек, с жирным шрифтом съезжает
	.nav {
		
		&-item {
			background: @bg-menu;
			box-shadow:
				inset 2px 0px 0 0 #383837,
				inset -1px 0px 0 0 #535352;
			
			a {
				padding-top: 35px;
				padding-bottom: 30px;
				//font-family: @font-family-bold;
				font-size: @font-size__header-menu;
				text-transform: uppercase;
				color: @color__header-menu;
				text-shadow: 0 2px 4px @shadow-color;
				
				&:hover {
					background: @bg-menu-hover;
				}
			}
			
			&--special a {
				color: @color__header-menu-special;
			}
		}
	}
}

