.news {
	&-block {
		margin-bottom: 40px;
	}

	.generate-news-slider(3);
	
	&-menu {
		text-align: center;
		
		&__inner {
			position: relative;
			height: 230px;
			padding: 10px 45px;
			background: @bg__news-menu;
			overflow: hidden;
			
			@media (max-width: 1199px) {
				padding: 10px 30px;
				height: 200px;
			}
			
			@media (max-width: 991px) {
				padding: 10px 40px;
			}
		}
		
		&__item {
			position: relative;
			display: block;
			max-width: none;
			margin: 0 -10px 100%;
			cursor: pointer;
			
			&-title {
				@h: 53px;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: @h;
				padding: 2px 5px;
				background: @bg__news-menu--title;
				line-height: @h;
				vertical-align: middle;
				font-size: @font-size__news-menu;
				color: @color__news-menu;
				
				@media (max-width: 991px) {
//					font-size: @font-size__news-menu*@zoom992;
				}
				
				p {
					display: inline-block;
					margin: 0;
					height: 110%;
					line-height: 1;
				}
			}
			&-img {
				width: 100%;
				@h: 210px;
				height: @h;
				line-height: @h;
				overflow: hidden;
				
				@media (max-width: 1199px) {
					@h: 180px;
					height: @h;
					line-height: @h;
				}
				
				img {
					width: 100%;
					height: auto;
					vertical-align: bottom;
				}
			}
		}
		
		&__controls {
			@border: 55px;
			position: absolute;
			top: 50%;
			margin-top: -@border;
			border-top: @border solid transparent;
			border-bottom: @border solid transparent;
			
			@media (max-width: 1199px) {
				@border: 45px;
				margin-top: -@border;
				border-top-width: @border;
				border-bottom-width: @border;
			}
			
			&--left {
				left: 3px;
				border-right: @news__controls;
				
				@media (max-width: 1199px) {
					border-right-width: @news__controls--1199;
				}
			}
			
			&--right {
				right: 3px;
				border-left: @news__controls;
				
				@media (max-width: 1199px) {
					border-left-width: @news__controls--1199;
				}
			}
			
			&:hover,
			&:active {
				border-left-color: darken(#f0efed, 10%);
				border-right-color: darken(#f0efed, 10%);
			}
			
			&:hover {
				transform: scale(1.2);
			}
			
			&:active {
				transform: scale(.9);
			}
		}
	}
	
	&-item {
		margin-bottom: 30px;
		padding: 10px 20px 10px 0px;
		display: none;
		
		&__box {
			position: relative;
			height: 230px;
			
			@media (max-width: 1199px) {
				height: 200px;
			}
		}
		
		&__title {
			margin: 0;
			font-size: @font-size__news-item--title;
			color: @color__menu-item--title;
			line-height: 1;
			
			@media (max-width: 1199px) {
				font-size: @font-size__news-item--title*@zoom1200;
			}
			
			@media (max-width: 991px) {
//				font-size: @font-size__news-item--title*@zoom992;
			}
		}
		
		&__text {
			max-height: 110px;
			overflow: hidden;
			text-align: justify;
			font-family: @font-family-cond;
			font-size: @font-size__news-item;
			color: @color__menu-item;
			line-height: @line-height__menu-item;
			
			@media (max-width: 1199px) {
				font-size: @font-size__news-item*@zoom1200;
			}
			
			@media (max-width: 991px) {
//				font-size: @font-size__news-item*@zoom992;
			}
			
			p {
				margin: 0;
			}
		}
		
		&__link {
			position: absolute;
			bottom: 10px;
			right: 20px;
			text-align: right;
			font-family: @font-family-cond;
			font-size: @font-size__news-item--link;
			line-height: 1;
			color: @color__menu-item--link;
			text-decoration: underline;
			font-style: italic;
			
			@media (max-width: 1199px) {
				font-size: @font-size__news-item--link*@zoom1200;
			}
			
			@media (max-width: 991px) {
//				font-size: @font-size__news-item--link*@zoom992;
			}
		}
	}
}