.popular {
	margin-bottom: (140px*@zoom);
	
	&-block {
		padding: (30px*@zoom) (55px*@zoom);
	}
	
	&-slider {
		position: relative;
		
		&__row {
			margin-bottom: (75px*@zoom);
		}
		
		&__item {
			width: (465px*@zoom);
			text-align: center;
			box-shadow: @box-shadow__popular-item;
			overflow: hidden;
			
			img {
				width: 100%;
				height: auto;
			}
			
			&--all {
				line-height: (345px*@zoom);
				
				a {
					display: inline-block;
					vertical-align: middle;
					font-size: @font-size__action-slider;
					color: @color__action-slider;
					line-height: 1;
					text-decoration: none;
				}
				
				&-bg {
					margin-top: -(35px*@zoom);
					display: inline-block;
					font-size: @font-size__action-slider--big;
				}
			}
		}
		
		&__controls {
			position: absolute;
			width: (58px*@zoom);
			height: (284px*@zoom);
			top: 50%;
			margin-top: -((284px*@zoom) / 2);
			
			&:hover {
				transform: scale(1.05);
			}
			
			&:active {
				transform: scale(.98);
			}
			
			&--left {
				left: -(57px*@zoom);
				background: url('../images/common/popular-control--left.png') no-repeat left center;
				
				&:hover {
					left: -(56px*@zoom);
				}
				
				&:active {
					left: -(58px*@zoom);
				}
			}
			
			&--right {
				right: -(56px*@zoom);
				background: url('../images/common/popular-control--right.png') no-repeat right center;
				
				&:hover {
					right: -(55px*@zoom);
				}
				
				&:active {
					right: -(57px*@zoom);
				}
			}
		}
	}
}