.services {
	&-block {
		margin-bottom: (110px*@zoom);
		padding: (25px*@zoom) (50px*@zoom) (30px*@zoom);
	}
	
	&-item {
		display: block;
		text-align: center;
		text-transform: uppercase;
		box-shadow: @box-shadow__services;
		
		@media (max-width: 991px) {
			margin: 0 -10px;
		}
		
		&:hover {
			box-shadow: (0px*@zoom) (0px*@zoom) (16px*@zoom) (5px*@zoom) rgba(0, 0, 1, .30);
			transform: scale(1.02);
			text-decoration: none;
		}
		&:active {
			box-shadow: inset 0 0 (15px*@zoom) (1px*@zoom) rgba(225, 225, 225, .5), (0px*@zoom) (0px*@zoom) (16px*@zoom) 0 rgba(0, 0, 1, .30);
			transform: scale(.97);
		}
		
		&__title {
			display: block;
			margin-bottom: 0;
			padding-top: (15px*@zoom);
			font-size: @font-size__services-title;
			color: @color__services-title;
			text-shadow: @text-shadow__services;
			
			@media (max-width: 991px) {
				font-size: @font-size__services-title*@zoom992;
			}
			
			@media (max-width: 620px) {
				font-size: 12px;
			}
		}
		
		&__img {
			height: auto;
			
			@media (max-width: 991px) {
				width: 45%;
			}
			
			@media (max-width: 620px) {
				width: 30%;
			}
		}
		
		&__text {
			margin-top: -(15px*@zoom);
			padding: (15px*@zoom) 0;
			height: auto;
			background: @bg__services-text;
			
			@media (max-width: 620px) {
				margin-top: 5px;
				padding: 5px 0;
			}
			
			span {
				font-size: 29px;
				background-color: #0C3B4D;
				color: transparent;
				font-weight: bold;
				text-shadow:
					-1px -1px 0px rgba(17, 140, 189, 0.2),
					-2px -2px 1px rgba(255, 255, 255, 0.5);
				
				@media(max-width: 991px) {
					font-size: 29px*@zoom992;
				}
				
				@media (max-width: 620px) {
					font-size: 15px;
				}
			}
		}
	}
}