extends ../layouts/default

block variables
	-var pageID = a


block content
	include ../blocks/action02
	include ../blocks/popular
	include ../blocks/features
	include ../blocks/workmap
	include ../blocks/services
	include ../blocks/equipment
	include ../blocks/clients
	include ../blocks/news
	include ../blocks/contacts