mixin actionItem(items)
	each item, i in items
		if i === 0
			input(type='radio' id='action-'+item.id name='action_item' checked)
		else
			input(type='radio' id='action-'+item.id name='action_item')
	
	.action-slider
		each item in items
			.action-slider__item(class='action-slider__item--'+item.id)
				.action-block
					.row
						.col-sm-13.action-image-box
							.action-image
								//img(src='../images/action/slider/action-pict-'+item.id+'.jpg', alt=item.name)
								-var adr = '../images/action/slider/action-pict-'+item.id + '@'
								+picture({
									name: item.name,
									adress: adr,
									ext: 'jpg'
								}, [{
									val: 'max',
									width: '540',
									img: ['540', '810', '1080', '1620']
								}, {
									val: 'max',
									width: '550',
									img: ['180', '270', '360', '540']
								}, {
									val: 'min',
									width: '767',
									img: ['360', '540', '810', '1080']
								}])

						.col-sm-11.action-order-box
							.action-order
								-var nameItem = item.name
								+order(nameItem, item.id, ['1', '2', '3'])

				.action-timer
					.row
						.col-sm-10
							.action-timer__text до конца 
								span акции
						.col-sm-14
							include action_timer

	nav.action-controls-box
		ul.action-controls.nav.nav-tabs
			each item in items
				li: label.action-controls__item(for='action-'+item.id)
					span.action-controls__item--pict: img(src='../images/action/action-' + item.id+'.png', alt=item.name)
					span.action-controls__item--name=item.name


