include action_vars
include action-block
include action_order
include action_order-item

.action#action
	.action-title
		//-img(src='../images/common/banner.png')
		+picture({
				name: 'Акция',
				adress: '../images/action/header/action-header@',
				ext: 'png'
			}, {
				main: {
					width: '1170',
					img: ['1200', '1800', '2340', '3510']
				},
				other: [{
					val: 'max',
					width: '991',
					img: ['750', '1125', '1500', '2340']
				}, {
					val: 'max',
					width: '615',
					img: ['600', '900', '1200', '1800']
				}, {
					val: 'max',
					width: '515',
					img: ['500', '750', '1000', '1500']
				}]
			})
	
	+actionItem(actionArr)