mixin order(name, items)
	each item in items
		input(type='radio' id='action_order-'+name+item)
			
	include action_order-item
		
	.action-order__controls.nav.nav-tabs
		label.action-order__controls-item(class='action-order__controls-item--'+item for='action_order-'+name+item)

+order('brochure', ['1', '2', '3'])