include action_item/brochure
include action_item/booklet
include action_item/catalog
include action_item/file
include action_item/notepad
include action_item/blank
include action_item/calendar
include action_item/envelop
include action_item/card
include action_item/flyer


-var actionArr = []
-actionArr.push(brochure)
-actionArr.push(booklet)
-actionArr.push(catalog)
-actionArr.push(file)
-actionArr.push(notepad)
-actionArr.push(blank)
-actionArr.push(calendar)
-actionArr.push(envelop)
-actionArr.push(card)
-actionArr.push(flyer)

-var actionOrderArr = []
-actionOrderArr.push(brochureOrder)
-actionOrderArr.push(bookletOrder)
-actionOrderArr.push(catalogOrder)
-actionOrderArr.push(fileOrder)
-actionOrderArr.push(notepadOrder)
-actionOrderArr.push(blankOrder)
-actionOrderArr.push(calendarOrder)
-actionOrderArr.push(envelopOrder)
-actionOrderArr.push(cardOrder)
-actionOrderArr.push(flyerOrder)
