mixin orderItemActive(name, nums, items)
	each item in items
		if item.title === name
			each desc, i in item.desc
				each num, j in nums
					if (i === j)
						.action-order__item(class='action-order__item--'+num)
							h3.action-order__item-title=item.title
								small.action-order__item-title--value=desc.value
							p.action-order__item-description
								-var arr = []
								-arr.push('Формат: '+desc.format)
								-arr.push('Кол-во полос: '+desc.quantity)
								-arr.push('Бумага: '+desc.paper)
								-arr.push('Цветность: '+desc.colority)
								+textRow(arr)
							p.action-order__item-price
								span.action-order__item-price--old=desc.price_old
								span.action-order__item-price--new=desc.price_new







