mixin actionItem(items)
	each item, i in items
		if i === 0
			.action-slider(class='tab-pane fade in active' id='action_item-'+item.id)
				block action_item
					.action-block
						.row
							.col-xs-13
								.action-image: img(src='../images/action/slider/action-pict-'+item.id+'.jpg', alt=item.name)
							.col-xs-11
								if i === 0
									include action_order-brochure
								else
									include action_order
					.action-timer
						.row
							.col-xs-10
								.action-timer__text
							.col-xs-14
								.action-timer__counter: img(src="../images/common/action-timer.png", alt="")

		else
			.action-slider(class='tab-pane fade' id='action_item-'+item.id)
				block action_item

						




+actionItem([{
	name: 'Брошюры',
	id: 'brochure'
}, {
	name: 'Буклеты',
	id: 'booklet'

}, {
	name: 'Каталоги',
	id: 'catalog'

}, {
	name: 'Папки',
	id: 'file'

}, {
	name: 'Блокноты',
	id: 'notepad'

}, {
	name: 'Бланки',
	id: 'blank'

}, {
	name: 'Календари',
	id: 'calendar'

}, {
	name: 'Конверты',
	id: 'envelop'

}, {
	name: 'Визитки',
	id: 'card'

}, {
	name: 'Флаеры',
	id: 'flyer'
}])