.action
	.action-title
		.action-title__header
			p.action-title__header-title Акция
			p.action-title__header-text Срочная печать
		.action-pict
			p.action-pict__percent %
			p.action-pict__text Сделать заказ
			
	.action-content
		.action-content__image
			img(alt='' src='')
		
		.action-content__ordering.action-order
			.action-order__item
				.action-order__item-title Брошюры
				.action-order__item-volume 1000 шт.
				.action-order__item-description
					| Формат: А4 (210х297мм)
					br
					| Кол-во полос: 8
					br
					| Бумага: глянцевая 150 г/м2
					br
					|Цветность: 4+4
				.action-order__item-price--old 19600 р.
				.action-order__item-price--new 12900 р.
			
			.action-order__controls
			
			button.action-order__btn
			
	.action-timer.row
		.col-xs-3
			p.action-timer__text до конца
				span акции
		.col-xs-7
			.action-timer__counter
			
	.action-controls
		.action-controls__item
			img(alt='' src='')
			p Брошюры