.action-order
	.action-order__item
		include action_order-item



	ul.action-order__controls.nav.nav-tabs
		li: a.action-order__controls-item.action-order__controls-item--1(href='')
		li: a.action-order__controls-item.action-order__controls-item--2(href='')
		li.active: a.action-order__controls-item.action-order__controls-item--3(href='')


	button.action-order__btn
		span.action-order__btn--sm-text Сделать мгновенный заказ
		| Заказать!