.action-order
	.tab-content
		include action_order-item



	ul.action-order__controls.nav.nav-tabs#action-order_item
		li: a.action-order__controls-item.action-order__controls-item--1(href='#action-order_item01')
		li: a.action-order__controls-item.action-order__controls-item--2(href='#action-order_item02')
		li.active: a.action-order__controls-item.action-order__controls-item--3(href='#action-order_item03')


	a.action-order__btn(href='')
		span.action-order__btn--text Сделать мгновенный заказ