mixin clients(items)
	each item in items
		.clients-item: img(src='../images/sprite/clients-' + item.src + '.png', alt=item.name)


.clients
	h2.title-reg.clients-title Клиенты
	.block-reg.clients-block
		+clients([{
			src: 'champion',
			name: 'Champion'
		}, {
			src: 'ashan',
			name: 'Ашан'
		}, {
			src: 'rosmolod',
			name: 'Росмолодежь'
		}, {
			src: 'absolute-bank',
			name: 'Абсолют Банк'
		}, {
			src: 'mos-jevel',
			name: 'Московский ювелирный завод'
		}, {
			src: 'svyaznoy',
			name: 'Связной'
		}, {
			src: 'pioneer',
			name: 'Pioneer'
		}, {
			src: 'skolkovo',
			name: 'Сколково'
		}, {
			src: 'ros-avto-dor',
			name: 'Росавтодор'
		}, {
			src: 'english-first',
			name: 'English First'
		}, {
			src: 'infopotok',
			name: 'Инфопток'
		}, {
			src: 'ves-mir',
			name: 'Весь мир'
		}, {
			src: 'wacom',
			name: 'Wacom'
		}, {
			src: 'miel',
			name: 'Миэль'
		}, {
			src: 'econom-newspaper',
			name: 'Экономическая газета'
		}, {
			src: 'yandex',
			name: 'Яндекс'
		}, {
			src: 'nalog-vestnik',
			name: 'Налоговый вестник'
		}, {
			src: 'bose',
			name: 'Bose'
		}, {
			src: 'gazprom',
			name: 'Газпром'
		}, {
			src: 'mdm-bank',
			name: 'МДМ Банк'
		}, {
			src: 'rzhd',
			name: 'РЖД'
		}])