mixin contactsInfo(items)
	each item in items
		p.contacts-info__item(class='contacts-info__item--' + item.name)=item.text

mixin contactsSocials(items)
	each item in items
		a.contacts-socials__item(class='contacts-socials__item--' + item.class href=item.href)



.contacts
	h2.title-reg.contacts-title Контакты
	.block-reg.contacts-block
		.row
			.col-xs-12
				.contacts-info
					+contactsInfo([{
						name: 'phone',
						text: '+7 (495) 223-92-00'
					}, {
						name: 'mail',
						text: 'sale@eorder.ru'
					}, {
						name: 'skype',
						text: 'sale.eorder'
					}, {
						name: 'adress',
						text: 'г. Москва, Котляковский переулок, д. 18'
					}])
			
			.col-xs-10
				include contacts-map-1
		
			.col-xs-2
				.contacts-socials
					+contactsSocials([{
						class: 'twitt',
						href: ''
					}, {
						class: 'vk',
						href: ''
					}, {
						class: 'fb',
						href: ''
					}, {
						class: 'odnoklassniki',
						href: ''
					}, {
						class: 'google',
						href: ''
					}])