mixin contactsInfo(items)
	each item in items
		a.contacts-info__item(class='contacts-info__item--' + item.name href=item.href): span=item.text

mixin contactsSocials(items)
	each item in items
		a.contacts-socials__item(class='contacts-socials__item--' + item.class href=item.href)



.contacts#contacts
	h2.title-reg.contacts-title Контакты
	.block-reg.contacts-block
		.row
			.col-lg-12.col-md-11.col-xs-22
				.contacts-info
					+contactsInfo([{
						name: 'phone',
						text: '+7 (495) 223-92-00',
						href: 'tel:+74952239200'
					}, {
						name: 'mail',
						text: 'sale@eorder.ru',
						href: 'mailto:sale@eorder.ru?subject=Письмо с сайта Eorder'
					}, {
						name: 'skype',
						text: 'sale.eorder',
						href: 'skype:sale.eorder?call'
					}, {
						name: 'adress',
						text: 'г. Москва, Котляковский переулок, д. 18',
						href:'/'
					}])
			
			.col-xs-2.col-lg-push-10.col-md-push-11
				.contacts-socials
					+contactsSocials([{
						class: 'twitt',
						href: ''
					}, {
						class: 'vk',
						href: ''
					}, {
						class: 'fb',
						href: ''
					}, {
						class: 'odnoklassniki',
						href: ''
					}, {
						class: 'google',
						href: ''
					}])
			
			.col-lg-10.col-md-11.col-xs-24
				include contacts-map-1
		
			