mixin contactsInfo(items)
	each item in items
		p.contacts-info__item(class='contacts-info__item--' + item.name)=item.text

mixin contactsSocials(items)
	each item in items
		a.contacts-socials__item(class='contacts-socials__item--' + item.class href=item.href)

block map
	.contacts-map
		.contacts-map__controls
			.contacts-map__controls-item
				|от
				span.contacts-map__icon-metro
				|Варшавская
			.contacts-map__controls-item
				|от
				span.contacts-map__icon-metro
				|Каширская
		
		.contacts-map__slider
			.contacts-map__slider-map
				img(src='', alt='')
				



.contacts
	h2.title-reg.contacts-title Контакты
	.block-reg.contacts-block.clearfix
		.contacts-info
			+contactsInfo([{
				name: 'phone',
				text: '+7 (495) 223-92-00'
			}, {
				name: 'mail',
				text: 'sale@eorder.ru'
			}, {
				name: 'skype',
				text: 'sale.eorder'
			}, {
				name: 'adress',
				text: 'г. Москва, Котляковский переулок, д. 18'
			}])
			
			
		
		block map
		
		.contacts-socials
			+contactsSocials([{
				class: 'twitt',
				href: ''
			}, {
				class: 'vk',
				href: ''
			}, {
				class: 'fb',
				href: ''
			}, {
				class: 'odnoklassniki',
				href: ''
			}, {
				class: 'google',
				href: ''
			}])