mixin featuresItem(items)
	each item, i in items
		.col-sm-8.col-xs-24
			.features-item(class="features-item__" + item.class)
				h4.features-item__title=item.title
				p.features-item__text=item.text
		-var j = i+1
		if (j - (parseInt(j / 3)*3) === 0)
			if (j != items.length)
				.clearfix



.features#features
	h2.title-reg.features-title Почему выбирают нас
	.block-reg.features-block
		.row
			+featuresItem([{
				class: 'realization',
				title: 'Реализация идей',
				text: 'Вы рассказываете свою идею, а мы находим решение как реализовать ее, применяя наши'
			}, {
				class: 'circulation',
				title: 'Тиражи',
				text: 'Мы производим продукцию от 1 экземпляра, малыми и средними тиражами'
			}, {
				class: 'color',
				title: 'Цветопередача',
				text: 'Мы всегда изготавливаем один бесплатный контрольный оттиск для согласования'
			}, {
				class: 'new',
				title: 'Новинки',
				text: 'Мы не стоим на месте и регулярно запускаем новые полиграфические и фото продукты'
			}, {
				class: 'specialists',
				title: 'Специалисты',
				text: 'В нашей типографии работают только высококвалифицированные сотрудники'
			}, {
				class: 'technology',
				title: 'Технология печати',
				text: 'Для печати Вашей продукции мы используем только технологию HP Indigo'
			}, {
				class: 'quality',
				title: 'Гарантия качества',
				text: 'Мы не отступаем от технологии производства, что гарантирует высокое качество продукции.'
			}, {
				class: 'circulation02',
				title: 'Тиражи',
				text: 'Мы производим продукцию от 1 экземпляра, малыми и средними тиражами'
			}, {
				class: 'color02',
				title: 'Цветопередача',
				text: 'Мы всегда изготавливаем один бесплатный контрольный оттиск для согласования'
			}])