.features
	.features-title Почему выбирают нас
	.features-block
		.features-item
			.features-item__title Реализация идей
			.features-item__text Вы рассказываете свою идею, а мы находим решение как реализовать ее, применяя наши