.col-sm-10.col-xs-7
	form.footer-promo.form-promo(action='' method='post' role="form")
		p.title-footer.form-promo__title Ввести промо код
		.block-footer.form-promo__block
			p.form-promo__text
				| У Вас есть промо код?
				br
				| Отлично! Введите его здесь:
			input.form-promo__input.form-control(type='text' placeholder='Промо код')
			button.form-promo__btn.btn(type='submit') Да!
		p.form-promo__sub-text Участвуйте в акциях!


.col-sm-14.col-xs-17
	form.footer-signup.form-signup(action='' method='post' role="form")
		p.title-footer.form-signup__title Подписка на новости
		.block-footer.form-signup__block
			p.form-signup__text
				| Подписавшись на нашу рассылку, Вы будете получать наши новости о предложениях, новинках. Хотите?
			input.form-signup__input.form-control(type='text' placeholder='Ваше имя')
			input.form-signup__input.form-control(type='text' placeholder='Ваш email')
			button.form-signup__btn.btn(type='submit') Да!
		p.form-signup__sub-text Мы никогда не отправляем спам!