header.header.container
	.row
		.col-xs-4
			a.logo(href='#')
				img(alt='' src='')
			p
				| Prepress-Press-Postpress
				br
				| 24/7
		.col-xs-4
			p.header-presentation Цифровая и офсетная печать любых тиражей в самые короткие сроки
		.col-xs-4
			p.header-phone +7 495
				span 223 9200
			.header-call
				a.header-call__handset(href='#')
				p.header-call__text Звонок за наш счет
	
	.row
		+nav ([{
			name: 'Акции!',
			href: '/'
		}, {
			name: 'Продукция',
			href: '/11'
		}, {
			name: 'О нас',
			href: '/11'
		}, {
			name: 'Как мы работаем',
			href: '/11'
		}, {
			name: 'Сервисы',
			href: '/11'
		}, {
			name: 'Оборудование',
			href: '/11'
		}, {
			name: 'Новости',
			href: '/11'
		}, {
			name: 'Контакты',
			href: '/11'
		}])