header.header
	//TODO: toolbar-header
	.container-fluid.header-container
		.row
			.col-xs-8
				.header-logo
					a.header-logo__link(href='#')
						img(src="../images/logo--promo.png", alt="e-order")
					.header-logo__slogan: img(src='../images/sprite/header-press.png', alt='Prepress-Press-Postpress')
			.col-xs-8
				p.header-presentation.text-center Цифровая и офсетная печать любых тиражей в самые короткие сроки
			.col-xs-8
				p.header-phone.text-right +7 495 
					span.header-phone--grand 223 9200
				.header-call.text-right
					a.header-call__handset(href='#')
					p.header-call__text Звонок за наш счет

	nav.header-menu
		+nav ([{
			name: 'Акции!',
			href: '/',
			special: 1
		}, {
			name: 'Продукция',
			href: '/11',
			special: 0
		}, {
			name: 'О нас',
			href: '/11',
			special: 0
		}, {
			name: 'Как мы работаем',
			href: '/11',
			special: 0
		}, {
			name: 'Сервисы',
			href: '/11',
			special: 0
		}, {
			name: 'Оборудование',
			href: '/11',
			special: 0
		}, {
			name: 'Новости',
			href: '/11',
			special: 0
		}, {
			name: 'Контакты',
			href: '/11',
			special: 0
		}])