header.header#to-top
	.container-fluid.header-container
		.row
			.col-md-8.col-sm-9.header-logo-box
				.header-logo
					a.header-logo__link(href='#')
						img(src="../images/logo.png", alt="e-order")
					.header-logo__slogan
						//-img(src='../images/sprite/header-press.png', alt='Prepress-Press-Postpress')
						+svg('0 0 504 72', 'prepress-press')
			.col-md-8.col-sm-7.header-presentation-box
				p.header-presentation.text-center Цифровая и офсетная печать любых тиражей в самые короткие сроки
			.col-sm-8.header-calling
				p.header-phone +7 495 
					span.header-phone--grand 223 9200
				a.header-call(href='tel:+74952239200')
					span.header-call__handset
					span.header-call__text Звонок за наш счет
					span.header-call__text.header-call__text--tel +7 495 223 9200


			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse' data-target='#header-menu')
					span.sr-only Menu
					span.icon-bar
					span.icon-bar
					span.icon-bar

	//nav.header-menu
	+nav01 ([{
		name: 'Акции!',
		href: '#action',
		special: 1
	}, {
		name: 'Продукция',
		href: '#popular',
		special: 0
	}, {
		name: 'О нас',
		href: '#features',
		special: 0
	}, {
		name: 'Как мы работаем',
		href: '#workmap',
		special: 0
	}, {
		name: 'Сервисы',
		href: '#services',
		special: 0
	}, {
		name: 'Оборудование',
		href: '#equipment',
		special: 0
	}, {
		name: 'Новости',
		href: '#news',
		special: 0
	}, {
		name: 'Контакты',
		href: '#contacts',
		special: 0
	}])