title eorder
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(href="../css/bootstrap-style.css" rel="stylesheet")
link(href="../css/style.css" rel="stylesheet")
link(href="../css/clips.css" rel="stylesheet")
script(src="../scripts/libs/jquery-1.11.3.min.js")
//link(href="../scripts/libs/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet")
//script(src="../scripts/libs/fancybox/jquery.fancybox-1.3.4.js")