mixin newsMenu(items)
	each item in items
		.news-menu__item
			.news-menu__item-title: p=item.title
			.news-menu__item-img: img(src='../images/news-' + item.src, alt=item.title)


.news
	h2.title-reg.news-title
	.block-reg.news-block.clearfix
		.news-menu
			+newsMenu([{
				title: 'I Новость',
				src: 'logo.png'
			}, {
				title: 'II Новость в несколько...',
				src: 'newspaper.jpg'
			}, {
				title: 'III Новость',
				src: 'figure.jpg'
			}])
				
		.news-item
			p.news-item__title I Новость
			.news-item__text
				p Наша компания достигла оборота, равного ВНП маленькой страны! Даже те, кто печатаются у нас!
				p Президенты всего мира....
		a.news-item__link(href='') узнать подробнее