.news
	.news-title
	.news-block
		.news-menu
			.news-menu__item
				.news-menu__item-title 1 Новость
				img.news-menu__item-img(alt='' src='')
		.news-item
			.news-item__title 1 Новость
			.news-item__text
				p Наша компания достигла оборота, равного ВНП маленькой страны! Даже те, кто печатаются у нас!
				p Президенты всего мира....
			a.news-item__link узнать подробнее