mixin newsMenu(items)
	each item in items
		.col-md-8.col-sm-12
			.news-menu__item
				.news-menu__item-title: p=item.title
				.news-menu__item-img: img(src='../images/news-' + item.src, alt=item.title)
				

mixin newsItem(items)
	each item, i in items
		.news-item
			p.news-item__title=item.title
			.news-item__text
				each el in item.text
					p=el

.news.cont-reg#news
	h2.title-reg.news-title Новости
		a.to-top(href="#to-top") Наверх
	.block-reg.news-block.clearfix
		.row
			.col-sm-15.col-xs-12
				.news-menu__inner
					.news-menu
						.row
							+newsMenu([{
								title: 'I Новость',
								src: 'logo.png'
							}, {
								title: 'II Новость в несколько много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста',
								src: 'newspaper.jpg'
							}, {
								title: 'III Новость',
								src: 'figure.jpg'
							}])
					.news-menu__controls-box
						a.news-menu__controls.news-menu__controls--left(href='')
						a.news-menu__controls.news-menu__controls--right(href='')
			
			.col-sm-9.col-xs-12
				+newsItem([{
					title: 'I Новость',
					text: ['Наша компания достигла оборота, равного ВНП маленькой страны! Даже те, кто печатаются у нас!', 'Президенты всего мира.... много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста много текста']
				}, {
					title: 'II Новость',
					text: ['']
				}, {
					title: 'III Новость',
					text: ['']
				}])
		a.news-item__link(href='') узнать подробнее