mixin popularSlider(items)
	.popular-slider__box
		.row.popular-slider__row
			each item, i in items
				-var j = i+1
				if (i < 5)
					if (i < 3)
						if (i === 0)
							.col-md-8.col-sm-12.slide-show.slide-show-sm.slide-show-xs.slide-hide.popular-slider__col
								block popularItem
									a.popular-slider__item(href='' class=i)
										img(src=item.src, alt=item.alt)
										span.popular-slider__item-title=item.alt
						else
							.col-md-8.col-sm-12.slide-show.slide-show-sm.slide-hide.popular-slider__col
								block popularItem
					else
						.col-md-8.col-sm-12.slide-show.slide-hide.popular-slider__col
							block popularItem

				else
					.col-md-8.col-sm-12.slide-hide.popular-slider__col
						block popularItem
							
			.col-md-8.col-sm-12.popular-slider__item--all-leveler
				a.popular-slider__item.popular-slider__item--all(href='')
					| Смотреть 
					span.popular-slider__item--all-bg все





.popular.cont-reg#popular
	h2.title-reg.popular-title Популярная продукция
		a.to-top(href="#to-top") Наверх
	.block-reg.popular-block
		.popular-slider
			+popularSlider([{
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}, {
				src: '../images/slider-popular01.jpg',
				alt: 'Листовка'
			}])
			.popular-slider__controls-box
				a.popular-slider__controls.popular-slider__controls--left(href='')
				a.popular-slider__controls.popular-slider__controls--right(href='')
