mixin popularSlider(items)
	while (items.length > 0)
		.popular-slider__box
			.row
				each item in items.splice(0, 5)
					.col-xs-8.popular-slider__row
						.popular-slider__item: img(src=item.src, alt=item.alt)
				.col-xs-8.popular-slider__row
					.popular-slider__item.popular-slider__item--all
						a(href='')
							| Смотреть
							br
							span.popular-slider__item--all-bg все




.popular
	h2.title-reg.popular-title Популярная продукция
	.block-reg.popular-block
		.popular-slider
			+popularSlider([{
				src: '../images/slider-popular01.jpg',
				alt: ''
			}, {
				src: '../images/slider-popular01.jpg',
				alt: ''
			}, {
				src: '../images/slider-popular01.jpg',
				alt: ''
			}, {
				src: '../images/slider-popular01.jpg',
				alt: ''
			}, {
				src: '../images/slider-popular01.jpg',
				alt: ''
			}])
			.popular-slider__controls--box
				a.popular-slider__controls.popular-slider__controls--left(href='')
				a.popular-slider__controls.popular-slider__controls--right(href='')
