mixin services(items)
	each item in items
		.col-xs-8.services__col
			a.services-item(href='' class='servises-item--' + item.class)
				span.services-item__title=item.name
				img.services-item__img(src='../images/services/servises-' + item.src+'.png', alt=item.name)
				.services-item__text
					span=item.text





.services.cont-reg#services
	h2.title-reg.services-title Специальные сервисы
		a.to-top(href="#to-top") Наверх
	.block-reg.services-block
		.row
			+services([{
				class: 'calc',
				name: 'Калькулятор заказа',
				src: 'calc',
				text: 'Посчитать!'
			}, {
				class: 'maket',
				name: 'Проверка макета',
				src: 'maket',
				text: 'Загрузить!'
			}, {
				class: 'deliver',
				name: 'Срочная доставка',
				src: 'deliver',
				text: 'Заказать!'
			}])