mixin toolbarRight(items)
	.toolbar.toolbar--right
		each item in items
			a.toolbar__item(class='toolbar__item--'+item.name href=item.href): img(src='../images/toolbar/toolbar-icon_'+item.name+'.png', alt=item.alt)



mixin toolbarTop(items)
	.toolbar.toolbar--top
		each item in items
			a.toolbar__item(class='toolbar__item--'+item.name href=item.href): img(src='../images/toolbar/toolbar-icon_'+item.name+'.png', alt=item.alt)


.toolbar__box.toolbar__box--right
	+toolbarRight([{
		name: 'search',
		href: '#',
		alt: 'Поиск'
	}, {
		name: 'cart',
		href: '#',
		alt: 'Корзина'
	}, {
		name: 'profile',
		href: '#',
		alt: 'Личный кабинет'
	}])



.toolbar__box.toolbar__box--top
	+toolbarTop([{
		name: 'search',
		href: '#',
		alt: 'Поиск'
	}, {
		name: 'cart',
		href: '#',
		alt: 'Корзина'
	}, {
		name: 'profile',
		href: '#',
		alt: 'Личный кабинет'
	}])

