mixin workmapItem(items)
	each item in items
		.workmap-item__box.col-sm-6.col-xs-24
			figure.workmap-item
				.workmap-item__img: img(src="../images/workmap/workmap-" + item.src, alt=item.name)
				figcaption.workmap-item__text=item.text






.workmap#workmap
	h2.title-reg.workmap-title Как мы работаем
	.block-reg.workmap-block
		.row
			+workmapItem([{
				src: 'choose.png',
				name: 'Выберете продукт',
				text: 'Выберете продукт и оставьте заявку. Мы моментально свяжемся с Вами.'
			}, {
				src: 'load.png',
				name: 'Проверьте макет',
				text: 'Загрузите Ваши файлы бесплатно и проверьте Ваш макет'
			}, {
				src: 'pay.png',
				name: 'Оплатите заказ',
				text: 'Оплатите заказ любым удобным способом. Мы точно в срок изготовим заказ.'
			}, {
				src: 'take.png',
				name: 'Получите заказ',
				text: 'Заберите готовый заказ или оформите доставку.'
			}])